AAAS	CUL4B
AASDH	BID
ABAT	ADRA2A
ABAT	RAPH1
ABCA3	SUZ12
ABCB8	INTS12
ABCB8	MRPS9
ABCC1	IL17RD
ABCC1	SLC11A2
ABHD6	C11ORF51
ACAA2	PIK3C2B
ACAT1	NUP35
ACD	FAM133B
ACMSD	SORL1
ACSL4	SNX19
ACTB	POTEE
ACTB	POTEI
ACTB	POTEJ
ACTB	PTPRS
ACTN4	SMCR7L
ACTN4	SMC4
ADCYAP1	PDZD11
ADRA2A	ABAT
AFMID	NAMPT
AFTPH	PAAF1
AGAP3	CSNK1G1
AGAP8	AGAP6
AGAP6	AGAP8
AGFG1	GPRASP2
AGPAT5	BCS1L
AHCTF1	BRD9
AHCYL2	KIAA0746
AHCYL2	SPIDR
AIDA	C1ORF21
AIDA	PIGF
AIDA	SIRT2
AK1	PPIB
AKAP1	BOLA2
AKAP1	KDM6B
AKAP1	PPDPF
AKAP10	SELI
AKAP8L	HMGXB4
AKAP9	PABPC4
AKIRIN2	NUBP2
AKTIP	CDK7
ALAS1	CDC37
ALAS1	DULLARD
ALAS1	MOAP1
ALDH1L2	INPP5K
ALDH7A1	EPB41L4A
ALG11	NBAS
ALKBH7	HAUS6
ALMS1	SNRPA
ALS2	ATG5
THOC4	OGFOD1
AMBRA1	FAM214B
AMFR	FBXO44
AMFR	FUT8
AMFR	LDLR
AMFR	SPATA13
AMOTL2	CDC40
AMOTL2	GLYR1
AMOTL2	IGSF9
ANAPC1	MPI
ANAPC1	POLE3
ANAPC1	STAG3
C11ORF51	ABHD6
ANAPC4	FAM135A
ANKLE2	CELF4
ANKRA2	SCAI
ANKRD13C	OPA1
ANKRD23	H2AFY2
ANKRD26	SUDS3
ANKRD39	PIN1
ANKRD44	TAF1
ANKRD54	RAB1B
ANKS1A	RAB3IP
ANP32B	TBC1D19
AP1M1	BLOC1S3
AP2A2	HEBP2
AP2S1	C9ORF16
AP3B2	NIT2
AP3D1	PHYHIP
AP3D1	SCAND1
AP3M1	KIAA1033
AP4M1	POLG2
APBA2	IRAK1BP1
APBB1	HSD17B12
APC2	LRRC8A
APC2	TBK1
APIP	CDYL
APIP	RAB5C
APOOL	DHCR24
C14ORF153	SEMA5B
APPL1	DOCK9
APPL1	FUT9
APPL1	LYRM1
APTX	FAM135A
APTX	PPP1R7
ARHGAP12	C12ORF10
GRLF1	BAIAP2
GRLF1	DCTN3
GRLF1	GRN
ARHGAP5	ATP11B
ARHGEF12	C18ORF19
ARHGEF9	IARS2
ARHGEF9	SFT2D1
ARID3B	MEF2C
ARID3B	MRPL28
ARIH2	ORC2L
ARL1	PKD2
ARL15	DUSP10
ARL17P1	ARL17B
ARL17B	ARL17P1
ARL2BP	PLLP
ARL3	RAB5A
ARL5A	THOC5
ARL5B	SMC4
ARL6IP5	KAT5
ASAP1	NC2ORF64
ASRGL1	POR
ATAD1	MTMR7
ATG10	DYM
ATG2B	MRPL1
ATG5	ALS2
ATP11B	ARHGAP5
ATP13A3	KCNH8
ATP13A3	NPIPB15
ATP13A3	TBC1D9B
ATP1A3	GRIPAP1
ATP1A3	SS18L1
ATP5E	ATP5EP2
ATP5EP2	ATP5E
ATP5L2	CNIH4
ATP5L2	INPP5K
ATP5L2	RHOB
AZI2	LYPLA2
B4GALNT1	CP110
B4GALNT4	PIM2
B4GALT1	FBXO42
B4GALT1	KDM6B
B4GALT5	DLD
BACH2	PPM1G
BAG1	ING3
BAIAP2	GRLF1
BAIAP2	POLG
BANP	CHD1
BBIP1	HYDIN
BCR	KCNH7
BCS1L	AGPAT5
BID	AASDH
BID	GFPT1
BLOC1S3	AP1M1
BLOC1S3	C9ORF16
BLZF1	9-Sep
BMI1	SC5DL
BMP2K	ELP3
BNIP3	PKD1
BOLA2	AKAP1
BOLA2	BOLA2B
BOLA2	KDM6B
BOLA2	MRPL38
BOLA2	PPDPF
BOLA2B	BOLA2
BRCC3	SNAP47
BRD9	AHCTF1
BRD9	NOMO1
BRD9	RAF1
BXDC2	CHORDC1
BXDC2	MTX3
BRMS1L	CELF4
BRMS1L	DCHS1
BTAF1	DBNL
BTBD7	GABPB1
BTBD9	DAZAP1
BTBD9	PTTG1IP
BTBD9	SPTLC1
BTG3	LYPLA1
C12ORF10	ARHGAP12
C12orf45	CLPX
C12orf76	GTF2A1
C14ORF169	SUPT7L
C15orf40	KIAA0020
C15ORF57	GORASP2
C15ORF57	PPP6R2
C15ORF57	STX1A
C16ORF13	CUL4B
C16ORF13	DLL3
C16ORF13	DNASE1
C16ORF13	TIMM50
C16ORF62	NIT2
C16orf72	RASSF2
C17ORF75	TES
C17ORF80	LRRC28
C1GALT1C1	CTTN
C1GALT1C1	TTC35
C1ORF131	CAMK1
C1ORF21	AIDA
C1ORF21	DIP2B
C1ORF21	LAP3
C1ORF21	LRRFIP2
C1ORF21	PIGF
C21orf33	CH507-9B2.3
C21ORF59	CGGBP1
KIAA0528	SNRNP35
C3ORF17	HMBOX1
C4ORF29	CDC5L
C4orf3	PRKAR2B
C5ORF24	LUZP1
C5ORF42	LUZP1
C7ORF55	DNAJB5
C9ORF16	AP2S1
C9ORF16	BLOC1S3
CA12	FBXW2
CA12	PYGB
CABP7	KPNA5
CABP7	POLR2M
CADM3	NAA60
CAMK1	C1ORF131
CAMK1	MAGEH1
CAMK1	PIK3CB
CAMTA1	PTPRG
CAMTA2	CYLD
CARD8	PTBP3
CARKD	NKIRAS2
CASC4	EXOSC7
CASP8AP2	FUT9
CBFB	DOPEY1
CBWD1	CBWD2
CBWD1	CBWD3
CBWD2	CBWD1
CBWD3	CBWD1
CBWD3	CBWD5
CBWD3	CBWD7
CBWD5	CBWD3
CBWD5	CBWD7
CBWD7	CBWD3
CBWD7	CBWD5
CC2D2A	CNTROB
CC2D2A	RRAGA
CCDC132	QKI
CCDC144A	CNTROB
CCDC144A	GGA1
CCDC152	RLIM
C3ORF19	CYB5A
CCDC47	SCP2
CCNJ	H2AFY2
CP110	B4GALNT1
FAM190B	INTS2
CCZ1	CCZ1B
CCZ1B	CCZ1
CD164	FAM13B
CD164	NRF1
CD59	HADH
CDC37	ALAS1
CDC37	CDKN2AIP
CDC37	DULLARD
CDC37	TAF1B
CDC40	AMOTL2
CDC42SE1	MSH2
CDC5L	C4ORF29
CDK13	PIK3C2A
PCTK1	PIGBOS1
CDK5RAP1	SUPT6H
CDK5RAP2	MEF2A
CDK5RAP2	EFHA1
CDK7	AKTIP
CDKN2AIP	CDC37
CDKN2AIP	TAF1B
CDO1	MAVS
CDON	COMMD10
CDYL	APIP
CDYL	C6ORF130
CDYL	RAB5C
CEBPZOS	DPP8
CELF4	ANKLE2
CELF4	BRMS1L
KIAA1009	NPIPB6
CEP164	GALNT11
CEP192	SFI1
CEP290	NDUFB5
C6ORF182	RIT1
CEP68	TTC35
CEP68	FAM214B
CEP78	FAM178A
CEP78	SERPING1
C6ORF204	SLC37A3
CERK	RALGDS
CETN2	FAM65A
CGGBP1	C21ORF59
CH507-9B2.3	C21orf33
CHD1	BANP
CHERP	SETD1B
CHKA	NAT10
CHKA	RCOR2
VPS24	PHF10
CHMP4A	RRP7A
CHORDC1	BXDC2
CHTF8	SCP2
CISD3	PCGF2
CKLF	RARS2
CLCC1	MLH3
CLCN4	NUP35
CLK3	KIZ
CLN3	ETF1
CLPX	C12orf45
CLTA	POR
CLTA	THOC3
CLVS2	N4BP1
CLVS2	KIAA1305
TMEM188	EIF4G1
CNIH4	ATP5L2
CNN2	HAT1
CNNM2	HIRA
CNOT8	PDE5A
C2ORF24	LRPPRC
CNR1	PGAM4
CNTLN	PIGU
CNTROB	CC2D2A
CNTROB	CCDC144A
CNTROB	HAT1
CNTROB	MAF1
COA6	SPDYE2B
COG2	FERMT2
COG8	TIMM23B
COIL	DGCR8
COL11A1	NFYA
COL4A3BP	PIGS
COMMD10	CDON
COMMD2	HIC2
COMMD2	IMMP1L
COMMD3	COMMD3-BMI1
COMMD3-BMI1	COMMD3
COMMD7	THOC7
COMMD8	MYNN
COMMD8	SCRN1
COQ4	SCD5
COQ4	SRPRB
COQ7	TEX2
COQ9	FHOD3
CORO7	FAM165B
COX7C	ESCO1
CPEB2	LYRM5
CPEB2	PCDHB9
CPSF1	FKBP7
CPSF2	TCEAL1
CPSF4	NDUFA9
CPSF4	RAB5C
CPSF7	FADS2
CSGALNACT2	MICAL3
CSNK1G1	AGAP3
CSNK1G3	RGPD1
CSNK1G3	RGPD2
CST3	PI4KA
DULLARD	ALAS1
DULLARD	CDC37
DULLARD	EIF2AK1
DULLARD	GALNT11
DULLARD	TAF1B
CTDSPL2	HYOU1
CTDSPL2	SIVA1
CTTN	C1GALT1C1
CTTNBP2NL	SSBP3
CUL4B	AAAS
CUL4B	C16ORF13
CUL4B	DNASE1
CUL4B	FGFR1
CUL4B	RAP1A
CUL4B	TIMM50
CUL5	SLC35E1
CWC22	TAF6
CXORF40A	CXorf40B
CXorf40B	CXORF40A
CXorf56	POLDIP3
CYB5A	C3ORF19
CYC1	MASP1
CYC1	MRPS18B
CYLD	CAMTA2
CYTH2	HEY1
CYTH2	RUVBL1
DARS	HYDIN
DAZAP1	BTBD9
DAZAP1	NDUFB5
DAZAP1	OGDH
DBNL	BTAF1
DBR1	HTT
DBR1	MRPS14
DBR1	SFXN3
DCBLD2	PDPK1
DCBLD2	RAPH1
DCC	ITPA
DCHS1	BRMS1L
DCHS1	PRPF6
DCLK1	PC
DCP2	RAD51C
DCTN3	GRLF1
DCTN4	LUZP1
DCTPP1	NARG1L
DCUN1D2	FAM21A
DCUN1D2	HEATR4
DCUN1D2	HIP1R
DCUN1D2	NDRG4
DDHD2	TFCP2
DDT	NUCB2
DDT	RUSC1
DDX23	RABGGTB
DDX26B	KRIT1
DDX27	EIF2B5
DDX27	GLTSCR1L
DDX27	KLC4
DDX3Y	DYNLL2
DDX3Y	MEF2C
DDX3Y	MRPL28
DDX3Y	MYL12A
DDX3Y	NOSIP
DEF8	MAPK1
DEF8	PPP5C
DENND1B	MRPL36
DEPDC5	ETF1
DERL2	GPSM1
DGCR8	COIL
DHCR24	APOOL
DHDDS	EZH2
DHRS1	LRCH2
DHX33	TAF2
DHX38	C20ORF11
DIAPH1	GPATCH2
DIP2B	C1ORF21
DIP2C	PAX6
DLD	B4GALT5
DLL3	C16ORF13
DLL3	MRPL28
DMXL1	MRPS25
DNAJB11	PET100
DNAJB5	C7ORF55
DNAJC10	LAP3
DNAJC15	MRPL42
DNAJC19	H1FX
DNASE1	C16ORF13
DNASE1	CUL4B
DNASE1	FGFR1
DNASE1	GFM2
DNASE1	HSD17B12
DNASE1	TIMM50
DNER	FKBP8
DNM2	HDAC8
DNM3	FAM45A
DOCK9	APPL1
DOPEY1	CBFB
DPH7	LIX1L
DPH7	RUVBL1
DPP8	CEBPZOS
DPY19L3	MCM3AP
DRAM2	NETO2
DRG2	KIAA0020
DRG2	KRBOX4
RNASEN	NFX1
DSCAM	TCEB2
DSCR3	PPP1R7
DSCR3	TCEAL8
C14ORF126	PWWP2A
DTNB	PPP5C
DTNB	RGS12
DTYMK	RBM17
DUOX1	DUSP18
DUOX1	POLI
DUSP1	RAB21
DUSP10	ARL15
DUSP11	IGDCC3
DUSP12	GBA2
DUSP12	POLE3
DUSP16	SNX5
DUSP18	DUOX1
DUSP18	GALNT11
DUSP18	POLI
DVL3	NDN
DYM	ATG10
DYM	INTU
DYNLL2	DDX3Y
DYNLL2	SLAIN1
DYNLL2	TFDP2
DYRK1A	NEO1
EBF4	SLAIN2
ECD	SNCB
ECHDC1	FAT4
EEF1E1	HMGAM1
EEF1E1	RBM41
EIF2AK1	DULLARD
EIF2B1	LMAN2
EIF2B5	DDX27
EIF3C	EIF3CL
EIF3CL	EIF3C
EIF4G1	TMEM188
EIF4G1	PIM2
EIF4H	HDAC4
EIF5A	EIF5AL1
EIF5AL1	EIF5A
ELAVL1	RNF138
ELOVL5	RBM17
ELP3	BMP2K
TTC35	C1GALT1C1
TTC35	CEP68
EPB41L4A	ALDH7A1
EPB41L4A	ODF2L
EPB41L5	GSPT2
SELI	AKAP10
SELI	HARS2
SELI	KPNA5
ERC1	PMPCA
ERCC5	ISLR2
ERCC5	KDM7A
ERGIC1	KIAA0895L
ERP44	OPA1
ESCO1	COX7C
ETF1	CLN3
ETF1	DEPDC5
ETF1	SS18L1
ETV3	KHDRBS3
ETV3	NFAT5
ETV3	PLXNA3
EXOSC7	CASC4
EXTL3	RAE1
EZH2	DHDDS
FADS2	CPSF7
FAM118A	GPR89A
FAM124A	NSL1
FAM127C	NIPA2
FAM133B	ACD
FAM135A	ANAPC4
FAM135A	APTX
FAM135A	PNMA2
FAM13B	CD164
FAM168A	HIP1R
FAM168A	MAF1
FAM168B	INTU
FAM177A1	INTS2
FAM177A1	NSMCE1
FAM178A	CEP78
C4ORF8	TECPR1
FAM206A	MAP2K4
C18ORF19	ARHGEF12
C18ORF19	NR2C1
FAM214B	AMBRA1
FAM214B	CEP68
FAM214B	LSG1
C15ORF17	MPI
FAM21A	DCUN1D2
FAM21A	FAM21C
FAM21A	HEATR4
FAM21A	HIP1R
FAM21A	NDRG4
FAM21C	FAM21A
C17ORF63	MFSD6
FAM45A	DNM3
FAM45A	PCDHA10
FAM65A	CETN2
FAM92A1	PDE5A
FAM92A1	PHF21B
FARP2	GRIPAP1
FAT3	GPR19
FAT3	KIAA2022
FAT4	ECHDC1
FAT4	C2ORF67
FBL	MTMR1
FBLN1	ITPA
FBXO42	B4GALT1
FBXO44	AMFR
FBXO44	PCDHA10
FBXO44	SYT6
FBXO7	NPTN
FBXW2	CA12
FCHO2	MTX3
FCHO2	OPHN1
FCHO2	PNMA2
FEM1C	PHLDB1
FERMT2	COG2
FERMT2	PAX6
FEZ2	NIPA2
FGFR1	CUL4B
FGFR1	DNASE1
FGFR1	TIMM50
FHOD3	COQ9
FKBP1A	FKBP1C
FKBP1C	FKBP1A
FKBP4	NOMO3
FKBP4	SIVA1
FKBP4	SLC23A2
FKBP7	CPSF1
FKBP8	DNER
FKBP8	SUZ12
FLCN	MAF1
FLCN	MICAL3
FLNA	RASA4B
FLOT1	LINS
FLOT2	KDM2B
FOCAD	MAPK7
FOXP2	MASP1
FUT8	AMFR
FUT8	LIMD2
FUT8	SPATA13
FUT9	APPL1
FUT9	CASP8AP2
GABPB1	BTBD7
GADD45G	ISCA1
GAK	SLC4A1AP
GALK2	PNMA2
GALK2	SLC11A2
GALNT1	GPRASP2
GALNT1	LIG3
GALNT11	CEP164
GALNT11	DULLARD
GALNT11	DUSP18
GALNT11	TAF1B
GANAB	GPR173
GAS2	SHISA2
GATAD2A	SNN
GBA2	DUSP12
GBAS	NFX1
GBF1	NLGN1
GCC2	KLF6
GCN1L1	MPHOSPH9
GDPD1	RNF11
GFM2	DNASE1
GFM2	HSD17B12
GFM2	SOCS4
GFPT1	BID
GGA1	CCDC144A
GGA3	PRIM1
C20ORF11	DHX38
GLRX3	NHLH2
GLT8D1	PDZD11
GLTP	SCD5
GLTSCR1L	DDX27
GLUD1	MCPH1
GLYR1	AMOTL2
GMPS	OXR1
GNPTAB	PARL
GNPTAB	PITPNC1
GOLGA2	MRTO4
GOLGA8A	GOLGA8B
GOLGA8B	GOLGA8A
GORASP1	STXBP5
GORASP2	C15ORF57
GPATCH2	DIAPH1
GPATCH2	SLC25A27
GPC2	SLC16A9
GPC2	SOS1
GPN1	PDLIM7
GPR173	GANAB
GPR173	NOMO1
GPR19	FAT3
GPR89A	FAM118A
GPR89A	GPR89B
GPR89B	GPR89A
GPRASP2	AGFG1
GPRASP2	GALNT1
GPRASP2	LIG3
GPSM1	DERL2
GRIPAP1	ATP1A3
GRIPAP1	FARP2
GRN	GRLF1
GSKIP	LRRFIP2
GSPT2	EPB41L5
GSPT2	PPM1G
GTF2A1	C12orf76
GTF2B	NCK2
GTF2H2	GTF2H2C
GTF2H2C	GTF2H2
GTF2IRD1	MEF2D
GTF2IRD1	PMEPA1
GTF2IRD2	GTF2IRD2B
GTF2IRD2B	GTF2IRD2
H1FX	DNAJC19
H1FX	KIAA1797
H2AFY2	ANKRD23
H2AFY2	CCNJ
H3F3B	H3F3C
H3F3C	H3F3B
HADH	CD59
HADH	NUBP2
HADH	PIGG
HADHB	NRCAM
HARS2	SELI
HAT1	CNN2
HAT1	CNTROB
HAT1	SLC30A9
HAUS6	ALKBH7
HAX1	KIAA0141
HAX1	MBD5
HBS1L	ICE2
HDAC4	EIF4H
HDAC5	TAF2
HDAC8	DNM2
HDAC9	ORC2L
HEATR4	DCUN1D2
HEATR4	FAM21A
HEATR4	HIP1R
HEATR4	NDRG4
HEBP2	AP2A2
HEY1	CYTH2
HEY1	LRRFIP2
HGS	LANCL1
HIC2	COMMD2
HIC2	TBR1
HIF3A	LDLR
HIP1R	DCUN1D2
HIP1R	FAM168A
HIP1R	FAM21A
HIP1R	HEATR4
HIP1R	MAF1
HIP1R	NDRG4
HIP1R	RASSF4
HIPK1	SIRT2
HIRA	CNNM2
HIST2H4A	HIST2H4B
HIST2H4B	HIST2H4A
HIVEP3	KCMF1
HM13	PUS7L
HMBOX1	C3ORF17
HMBOX1	MPDU1
HMGAM1	EEF1E1
HMGXB4	AKAP8L
HNRNPA1	HNRNPA1L2
HNRNPA1L2	HNRNPA1
HNRNPH1	MARCKS
HNRNPH1	MTRNR2L12
HNRNPH1	MTRNR2L8
HNRNPH1	STMN1
HNRNPH2	PDHX
HNRNPUL1	POLR1A
HSD17B12	APBB1
HSD17B12	DNASE1
HSD17B12	GFM2
HSD17B7P2	TAF12
HSPA4	SPCS3
HTT	DBR1
HYDIN	BBIP1
HYDIN	DARS
HYDIN	MORN4
HYOU1	CTDSPL2
IARS2	ARHGEF9
ICE2	HBS1L
ICT1	NCK1
IDH2	NFAT5
IDH2	TAF10
IER5	NMD3
IFT46	KLHL8
IFT46	TIFA
IGDCC3	DUSP11
IGFBPL1	RAE1
IGSF9	AMOTL2
IKBKAP	ITPK1
IKBKAP	SIMC1
IL17RD	ABCC1
ILK	NLGN3
IMMP1L	COMMD2
ING3	BAG1
INPP5F	NDRG3
INPP5F	PIGF
INPP5K	ALDH1L2
INPP5K	ATP5L2
INPP5K	KLHL29
INSM1	OSBPL9
INTS12	ABCB8
INTS2	FAM190B
INTS2	FAM177A1
INTS2	TECR
INTS4	MAPK14
INTS4	MYL12A
INTU	DYM
INTU	FAM168B
INTU	RGS12
IQCJ-SCHIP1	SCHIP1
IRAK1BP1	APBA2
ISCA1	GADD45G
ISLR2	ERCC5
ITGB1BP1	TBCK
ITM2B	SSH2
ITPA	DCC
ITPA	FBLN1
ITPK1	IKBKAP
ITPK1	SRA1
JAM3	SH3GL2
JARID2	PHYHIP
JUP	POLR1C
C2ORF67	FAT4
KARS	NFYA
KAT5	ARL6IP5
KAT5	RNF214
KATNAL1	TIMP2
KBTBD11	PCID2
KCMF1	HIVEP3
KCNH7	BCR
KCNH8	ATP13A3
KCTD10	LETMD1
KDM2B	FLOT2
KDM4B	MAPK14
KDM4B	METTL5
KDM6B	AKAP1
KDM6B	B4GALT1
KDM6B	BOLA2
KDM6B	MEX3C
KDM6B	MRPL38
KDM6B	PPDPF
KDM6B	RANBP3
KDM6B	RNFT2
KDM6B	SRF
KDM7A	ERCC5
KHDRBS2	PATZ1
KHDRBS3	ETV3
KHDRBS3	TCP11L1
KIAA0020	C15orf40
KIAA0020	DRG2
KIAA0020	KRBOX4
KIAA0141	HAX1
KIAA0195	PON2
KIAA0319	OPHN1
KIAA0895L	ERGIC1
KIAA1033	AP3M1
KIAA2022	FAT3
KIAA1797	H1FX
KIZ	CLK3
KLC4	DDX27
KLF10	MSL2
KLF10	C13ORF23
KLF12	LEO1
KLF13	PLEKHJ1
KLF6	GCC2
KLHL20	MBD5
KLHL29	INPP5K
KLHL8	IFT46
KMT2D	METTL14
KPNA5	CABP7
KPNA5	SELI
KRBOX4	DRG2
KRBOX4	KIAA0020
KRI1	MTX3
KRI1	OPHN1
KRIT1	DDX26B
LANCL1	HGS
LAP3	C1ORF21
LAP3	DNAJC10
LAP3	PIGF
LAP3	TDP2
LAPTM4B	MRPL3
LAPTM4B	TCTN3
LASP1	OPHN1
LASP1	PHTF2
LCMT1	SMURF1
LDLR	AMFR
LDLR	HIF3A
LEMD3	TCEAL1
LENG8	RAB5B
LEO1	KLF12
LEPR	NUP93
LETMD1	KCTD10
LIG3	GALNT1
LIG3	GPRASP2
LIG3	POMGNT1
LIMD2	FUT8
LINC00493	OSER1
LINS	FLOT1
LINS	PHF10
LINS	TCTN3
LIX1L	DPH7
LMAN2	EIF2B1
LMBRD1	TES
LMNA	PHF12
LMNA	TINF2
LMTK2	MRPS27
LMTK2	RRM1
LONRF1	NHLRC3
LPIN1	SUPT6H
LRCH2	DHRS1
LRPPRC	C2ORF24
LRRC28	C17ORF80
LRRC28	MTMR2
LRRC37A	LRRC37A2
LRRC37A	LRRC37A3
LRRC37A2	LRRC37A
LRRC37A2	SLC25A27
LRRC37A3	LRRC37A
LRRC37B	MKL1
LRRC37B	RUNDC2A
LRRC41	SLC16A9
LRRC8A	APC2
LRRFIP2	C1ORF21
LRRFIP2	GSKIP
LRRFIP2	HEY1
LSG1	FAM214B
LSM6	TGS1
LSM8	SYNRG
LUZP1	C5ORF24
LUZP1	C5ORF42
LUZP1	DCTN4
LYPLA1	BTG3
LYPLA2	AZI2
LYRM1	APPL1
LYRM1	OPA1
LYRM5	CPEB2
LYRM5	MAML3
LYRM5	RBM16
MAF1	CNTROB
MAF1	FAM168A
MAF1	FLCN
MAF1	HIP1R
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MAGEH1	CAMK1
MAGEH1	OSBPL9
MAGI2	PDZD11
MAML3	LYRM5
MAML3	SOCS4
MAP1LC3B	MAP1LC3B2
MAP1LC3B2	MAP1LC3B
MAP2K4	FAM206A
MAP2K4	SEC22C
MAP3K3	SNRNP70
MAP4K5	MED4
MAPK1	DEF8
MAPK1	TARSL2
MAPK14	INTS4
MAPK14	KDM4B
MAPK14	NRCAM
MAPK7	FOCAD
MARCKS	HNRNPH1
MARS	NUDT5
MASP1	CYC1
MASP1	FOXP2
MASP1	RNF2
MAVS	CDO1
MBD5	HAX1
MBD5	KLHL20
MCF2L	PDE4B
MCM3AP	DPY19L3
MCPH1	GLUD1
MED13L	PFKL
MED27	PALLD
MED4	MAP4K5
MEF2A	CDK5RAP2
MEF2C	ARID3B
MEF2C	DDX3Y
MEF2C	SMARCB1
MEF2D	GTF2IRD1
MEF2D	RNASEH2A
MEMO1	MVB12B
METTL14	KMT2D
METTL3	MNAT1
METTL5	KDM4B
MEX3C	KDM6B
MEX3C	PPDPF
MFAP2	TCTN3
MFSD6	C17ORF63
MFSD6	SLC33A1
MICAL3	CSGALNACT2
MICAL3	FLCN
MICAL3	NPHP3
EFHA1	CDK5RAP2
EFHA1	PPP1R16B
SMCR7L	ACTN4
MKL1	LRRC37B
MKRN1	SNRK
MLH1	POLG
MLH1	RNF115
MLH3	CLCC1
MNAT1	METTL3
MOAP1	ALAS1
MOBKL1A	SMYD2
MOBKL3	RGPD2
MORN4	HYDIN
MOSPD3	C1ORF128
MPDU1	HMBOX1
MPHOSPH9	GCN1L1
MPI	ANAPC1
MPI	C15ORF17
MPP3	RRAGA
MPPED1	NAPA
MPPED1	SBDS
MPPED1	TIMP2
MPV17	MTHFD2L
MPV17	SMTMEM48
MRAS	SEC16A
MRPL1	ATG2B
MRPL19	NR2C1
MRPL22	MXD1
MRPL28	ARID3B
MRPL28	DDX3Y
MRPL28	DLL3
MRPL28	PPDPF
MRPL3	LAPTM4B
MRPL3	TCTN3
MRPL36	DENND1B
MRPL38	BOLA2
MRPL38	KDM6B
MRPL38	PPDPF
MRPL42	DNAJC15
MRPL55	SHISA5
MRPS11	OSBPL1A
MRPS14	DBR1
MRPS14	SFXN3
MRPS15	SETD1B
MRPS18B	CYC1
MRPS23	SNX13
MRPS25	DMXL1
MRPS27	LMTK2
MRPS9	ABCB8
MRTO4	GOLGA2
C9ORF30	SNX3
MSANTD4	SRCAP
MSH2	CDC42SE1
MSI1	POTEE
MSI2	MSN
MSL2	KLF10
MSL2	PXDN
MSL2	RBM16
MSN	MSI2
MSN	PPT1
MTA2	PIGN
MTA2	SZT2
MTCL1	RNF4
MTHFD2L	MPV17
MTHFD2L	PPP1R14B
MTHFD2L	SMTMEM48
MTIF3	PEA15
MTMR1	FBL
MTMR2	LRRC28
MTMR7	ATAD1
MTMR9	PDK2
MTRNR2L12	HNRNPH1
MTRNR2L12	MTRNR2L8
MTRNR2L12	PTPRS
MTRNR2L8	HNRNPH1
MTRNR2L8	MTRNR2L12
MTRNR2L8	PTPRS
MTX3	BXDC2
MTX3	FCHO2
MTX3	KRI1
MVB12B	MEMO1
MXD1	MRPL22
MYCN	POR
MYL12A	DDX3Y
MYL12A	INTS4
MYNN	COMMD8
MYO18A	NIPA2
MYO9A	PGRMC2
FAM128B	NR2C1
FAM128B	SCAND1
FAM128B	SRF
N4BP1	CLVS2
NARG1L	DCTPP1
C12ORF30	C14ORF102
NAA60	CADM3
NACA	NACA2
NACA	SCAF11
NACA2	NACA
NAMPT	AFMID
NAPA	MPPED1
NAT10	CHKA
NAT10	RCOR2
NBAS	ALG11
NBPF10	NBPF14
NBPF10	NBPF8
NBPF10	NBPF9
NBPF10	RGS17
NBPF10	TBK1
NBPF14	NBPF10
NBPF15	NBPF9
NBPF8	NBPF10
NBPF8	NBPF9
NBPF8	RAB30
NBPF9	NBPF10
NBPF9	NBPF15
NBPF9	NBPF8
NCK1	ICT1
NCK2	GTF2B
NCK2	SPG11
NCCDC56	POLR2H
NC2ORF64	ASAP1
NCOR2	NKAIN4
NCOR2	PDXK
NDN	DVL3
NDN	RIT1
NDRG3	INPP5F
NDRG4	DCUN1D2
NDRG4	FAM21A
NDRG4	HEATR4
NDRG4	HIP1R
NDUFA9	CPSF4
C2ORF56	SHANK2
NDUFB5	CEP290
NDUFB5	DAZAP1
NDUFB5	OGDH
NDUFV3	RALBP1
NEO1	DYRK1A
NETO2	DRAM2
NFAT5	ETV3
NFAT5	IDH2
NFX1	RNASEN
NFX1	GBAS
NFYA	COL11A1
NFYA	KARS
NFYB	RRN3
NHLH2	GLRX3
NHLH2	RBM16
NHLH2	SETD1B
NHLH2	SF3B4
NHLH2	SH2D3C
NHLRC3	LONRF1
NIPA2	FAM127C
NIPA2	FEZ2
NIPA2	MYO18A
NIPAL3	CYTSA
NIT2	AP3B2
NIT2	C16ORF62
NKAIN4	NCOR2
NKIRAS2	CARKD
NLGN1	GBF1
NLGN1	RARS2
NLGN1	SLX1B
NLGN1	SMURF1
NLGN3	ILK
NLGN3	RAB33A
NMD3	IER5
NMNAT2	PTRH2
NNAT	PITPNC1
NNAT	SS18L2
NOMO1	BRD9
NOMO1	GPR173
NOMO1	NOMO2
NOMO1	NOMO3
NOMO1	RAF1
NOMO2	NOMO1
NOMO2	NOMO3
NOMO2	SIVA1
NOMO3	FKBP4
NOMO3	NOMO1
NOMO3	NOMO2
NOMO3	SIVA1
NOSIP	DDX3Y
NPHP3	MICAL3
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA1	NPIPA5
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA2	NPIPA5
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA3	NPIPA5
NPIPA5	NPIPA1
NPIPA5	NPIPA2
NPIPA5	NPIPA3
NPIPA5	NPIPA7
NPIPA7	NPIPA5
NPIPA7	NPIPA8
NPIPA8	NPIPA7
NPIPB15	ATP13A3
NPIPL3	NPIPB4
NPIPL3	NPIPB5
NPIPB4	NPIPL3
NPIPB4	NPIPB5
NPIPB5	NPIPL3
NPIPB5	NPIPB4
NPIPB6	KIAA1009
NPRL2	SIVA1
NPRL2	SLC35A4
NPTN	FBXO7
NR2C1	C18ORF19
NR2C1	MRPL19
NR2C1	FAM128B
NRCAM	HADHB
NRCAM	MAPK14
C14ORF102	C12ORF30
C14ORF102	SIAH1
NRF1	CD164
NSA2	TBC1D9B
NSFL1C	SMG7
NSL1	FAM124A
NSMCE1	FAM177A1
NSUN5	POM121
NT5C3L	RRAGA
NT5C3L	SMPD3
NUBP2	AKIRIN2
NUBP2	HADH
NUCB2	DDT
NUDCD2	PSMD13
NUDCD2	SETD8
NUDT21	SLC3A2
NUDT5	MARS
NUP35	ACAT1
NUP35	CLCN4
NUP93	LEPR
NXF1	STX10
KIAA1305	CLVS2
C6ORF130	CDYL
OAZ1	POTEI
ODF2L	EPB41L4A
OGDH	DAZAP1
OGDH	NDUFB5
OGFOD1	THOC4
OGFOD1	TCAIM
OPA1	ANKRD13C
OPA1	ERP44
OPA1	LYRM1
OPHN1	FCHO2
OPHN1	KIAA0319
OPHN1	KRI1
OPHN1	LASP1
ORC2L	ARIH2
ORC2L	HDAC9
OSBPL1A	MRPS11
OSBPL1A	QDPR
OSBPL1A	STK4
OSBPL9	INSM1
OSBPL9	MAGEH1
OSER1	LINC00493
OXR1	GMPS
OXSR1	SUZ12
PAAF1	AFTPH
PABPC1	PABPC3
PABPC3	PABPC1
PABPC4	AKAP9
PAICS	RNF145
PALLD	MED27
MAGMAS	RNFT2
MAGMAS	SNRPB
MAGMAS	SRF
PAPD4	SDF2
PARL	GNPTAB
PATZ1	KHDRBS2
PAX6	DIP2C
PAX6	FERMT2
PC	DCLK1
PCDHA10	FAM45A
PCDHA10	FBXO44
PCDHB9	CPEB2
PCGF2	CISD3
PCGF3	STK24
PCID2	KBTBD11
PCID2	SLC16A14
PDE4B	MCF2L
PDE5A	CNOT8
PDE5A	FAM92A1
PDHX	HNRNPH2
PDK2	MTMR9
PDLIM7	GPN1
PDPK1	DCBLD2
PDXK	NCOR2
PDZD11	ADCYAP1
PDZD11	GLT8D1
PDZD11	MAGI2
PDZD11	SLCO5A1
PEA15	MTIF3
PET100	DNAJB11
PFKL	MED13L
PGAM1	PGAM4
PGAM4	CNR1
PGAM4	PGAM1
PGRMC2	MYO9A
PHF10	VPS24
PHF10	LINS
PHF10	TCTN3
PHF12	LMNA
PHF21B	FAM92A1
PHLDB1	FEM1C
PHTF2	LASP1
PHYHIP	AP3D1
PHYHIP	JARID2
PHYHIP	SCAND1
PHYHIP	SENP2
PI4KA	CST3
PI4KB	RNF214
PIGBOS1	PCTK1
PIGF	AIDA
PIGF	C1ORF21
PIGF	INPP5F
PIGF	LAP3
PIGG	HADH
PIGN	MTA2
PIGN	SZT2
PIGS	COL4A3BP
PIGU	CNTLN
PIK3C2A	CDK13
PIK3C2B	ACAA2
PIK3CB	CAMK1
PIK3R2	SUMO2
PIM2	B4GALNT4
PIM2	EIF4G1
PIM2	THAP4
PIN1	ANKRD39
C1ORF128	MOSPD3
C1ORF128	QDPR
PITPNC1	GNPTAB
PITPNC1	NNAT
PKD1	BNIP3
PKD2	ARL1
PLCXD1	R3HDM1
PLCXD1	RANBP3
PLEKHJ1	KLF13
PLLP	ARL2BP
PLXNA3	ETV3
PMEPA1	GTF2IRD1
PMPCA	ERC1
PMPCA	SMPD3
PNMA2	FAM135A
PNMA2	FCHO2
PNMA2	GALK2
POLDIP3	CXorf56
POLE3	ANAPC1
POLE3	DUSP12
POLG	BAIAP2
POLG	MLH1
POLG2	AP4M1
POLI	DUOX1
POLI	DUSP18
POLR1A	HNRNPUL1
POLR1A	RBBP9
POLR1C	JUP
POLR2H	NCCDC56
POLR2J	POLR2J2
POLR2J	POLR2J3
POLR2J2	POLR2J
POLR2J2	POLR2J3
POLR2J3	POLR2J
POLR2J3	POLR2J2
POLR2M	CABP7
POM121	NSUN5
POMGNT1	LIG3
POMGNT1	TINF2
PON2	KIAA0195
POR	ASRGL1
POR	CLTA
POR	MYCN
POTEE	ACTB
POTEE	MSI1
POTEE	POTEI
POTEE	POTEJ
POTEE	PTPRS
POTEI	ACTB
POTEI	OAZ1
POTEI	POTEE
POTEI	POTEJ
POTEJ	ACTB
POTEJ	POTEE
POTEJ	POTEI
PPDPF	AKAP1
PPDPF	BOLA2
PPDPF	KDM6B
PPDPF	MEX3C
PPDPF	MRPL28
PPDPF	MRPL38
PPDPF	RNFT2
PPIB	AK1
PPM1B	RBM33
PPM1G	BACH2
PPM1G	GSPT2
PPP1R14B	MTHFD2L
PPP1R16B	EFHA1
PPP1R7	APTX
PPP1R7	DSCR3
PPP5C	DEF8
PPP5C	DTNB
PPP5C	RGS12
PPP6R2	C15ORF57
PPT1	MSN
PPT1	SDHAF2
PPT1	STXBP3
PRIM1	GGA3
PRKAR2B	C4orf3
C13ORF23	KLF10
PRPF3	MAP3K7IP2
PRPF6	DCHS1
PSMD13	NUDCD2
PSMF1	STAM2
PTBP3	CARD8
PTGFRN	TAF6
PTPRG	CAMTA1
PTPRS	ACTB
PTPRS	MTRNR2L12
PTPRS	MTRNR2L8
PTPRS	POTEE
PTRH2	NMNAT2
PTRHD1	SCAMP1
PTTG1IP	BTBD9
PUS7L	HM13
PWWP2A	C14ORF126
PXDN	MSL2
PYGB	CA12
PYROXD1	STX12
QDPR	OSBPL1A
QDPR	C1ORF128
QDPR	STK4
QKI	CCDC132
R3HDM1	PLCXD1
RAB1B	ANKRD54
RAB21	DUSP1
RAB30	NBPF8
RAB33A	NLGN3
RAB3IP	ANKS1A
RAB5A	ARL3
RAB5B	LENG8
RAB5C	APIP
RAB5C	CDYL
RAB5C	CPSF4
RAB6A	RAB6C
RAB6C	RAB6A
RABGGTB	DDX23
RAD51C	DCP2
RAD51C	TBC1D23
RAE1	EXTL3
RAE1	IGFBPL1
RAF1	BRD9
RAF1	NOMO1
RALBP1	NDUFV3
RALBP1	SDHA
RALGDS	CERK
RANBP3	KDM6B
RANBP3	PLCXD1
RAP1A	CUL4B
RAPH1	ABAT
RAPH1	DCBLD2
RARS2	CKLF
RARS2	NLGN1
RASA4B	FLNA
RASSF2	C16orf72
RASSF4	HIP1R
RBBP9	POLR1A
RBBP9	SCAI
RBM17	DTYMK
RBM17	ELOVL5
RBM33	PPM1B
RBM41	EEF1E1
RCOR2	CHKA
RCOR2	NAT10
RFX2	TAF1A
RGPD1	CSNK1G3
RGPD1	RGPD2
RGPD1	RGPD3
RGPD1	RGPD4
RGPD1	SPDYE2B
RGPD2	CSNK1G3
RGPD2	MOBKL3
RGPD2	RGPD1
RGPD2	RGPD3
RGPD2	RGPD4
RGPD2	SPDYE2B
RGPD3	RGPD1
RGPD3	RGPD2
RGPD3	RGPD4
RGPD3	SPDYE2B
RGPD4	RGPD1
RGPD4	RGPD2
RGPD4	RGPD3
RGPD4	SPDYE2B
RGPD5	RGPD6
RGPD5	RGPD8
RGPD6	RGPD5
RGPD6	RGPD8
RGPD8	RGPD5
RGPD8	RGPD6
RGS12	DTNB
RGS12	INTU
RGS12	PPP5C
RGS17	NBPF10
RHOB	ATP5L2
RHOB	C5ORF43
RIT1	C6ORF182
RIT1	NDN
RLIM	CCDC152
RNASEH2A	MEF2D
RNF11	GDPD1
RNF112	SEC22A
RNF115	MLH1
RNF138	ELAVL1
RNF145	PAICS
RNF2	MASP1
RNF214	KAT5
RNF214	PI4KB
RNF4	MTCL1
RNFT2	KDM6B
RNFT2	MAGMAS
RNFT2	PPDPF
RNFT2	SRF
RRAGA	CC2D2A
RRAGA	MPP3
RRAGA	NT5C3L
RRAGC	SEC24A
RRM1	LMTK2
RRN3	NFYB
RRP7A	CHMP4A
RTN2	TAF13
RTTN	SFI1
RUSC1	DDT
RUVBL1	CYTH2
RUVBL1	DPH7
RXRB	SLC16A9
SBDS	MPPED1
SC5DL	BMI1
SCAF11	NACA
RBM16	LYRM5
RBM16	MSL2
RBM16	NHLH2
SCAI	ANKRA2
SCAI	RBBP9
SCAMP1	PTRHD1
SCAND1	AP3D1
SCAND1	FAM128B
SCAND1	PHYHIP
SCAND1	SRF
SCD5	COQ4
SCD5	GLTP
SCHIP1	IQCJ-SCHIP1
SCP2	CCDC47
SCP2	CHTF8
SCRN1	COMMD8
SDF2	PAPD4
SDHA	RALBP1
SDHAF2	PPT1
SEC16A	MRAS
SEC22A	RNF112
SEC22C	MAP2K4
SEC24A	RRAGC
KIAA0746	AHCYL2
SEMA5B	C14ORF153
SENP2	PHYHIP
9-Sep	BLZF1
SERF1A	SERF1B
SERF1B	SERF1A
SERPING1	CEP78
SERPING1	SLC5A3
SETD1B	CHERP
SETD1B	MRPS15
SETD1B	NHLH2
SETD1B	SH2D3C
SETD8	NUDCD2
SF3B4	NHLH2
SFI1	CEP192
SFI1	RTTN
SFT2D1	ARHGEF9
SFXN3	DBR1
SFXN3	MRPS14
SGTA	TIMM50
SH2D3C	NHLH2
SH2D3C	SETD1B
SH3GL2	JAM3
SHANK2	C2ORF56
SHF	SKP1
SHISA2	GAS2
SHISA5	MRPL55
SIAH1	C14ORF102
SIMC1	IKBKAP
SIRT2	AIDA
SIRT2	HIPK1
SIVA1	CTDSPL2
SIVA1	FKBP4
SIVA1	NOMO2
SIVA1	NOMO3
SIVA1	NPRL2
SIVA1	SLC35A4
SKP1	SHF
SLAIN1	DYNLL2
SLAIN2	EBF4
SLC11A2	ABCC1
SLC11A2	GALK2
SLC16A14	PCID2
SLC16A9	GPC2
SLC16A9	LRRC41
SLC16A9	RXRB
SLC23A2	FKBP4
SLC25A27	GPATCH2
SLC25A27	LRRC37A2
SLC30A9	HAT1
SLC33A1	MFSD6
SLC35A4	NPRL2
SLC35A4	SIVA1
SLC35E1	CUL5
SLC37A3	C6ORF204
SLC3A2	NUDT21
SLC4A1AP	GAK
SLC5A3	SERPING1
SLCO5A1	PDZD11
SLX1B	NLGN1
SMARCA1	STX10
SMARCB1	MEF2C
SMC4	ACTN4
SMC4	ARL5B
SMG7	NSFL1C
FAM165B	CORO7
C5ORF43	RHOB
SMN1	SMN2
SMN2	SMN1
SMTMEM48	MPV17
SMTMEM48	MTHFD2L
SMPD3	NT5C3L
SMPD3	PMPCA
SMURF1	LCMT1
SMURF1	NLGN1
SMYD2	MOBKL1A
SNAP47	BRCC3
SNAP91	TARS2
SNCB	ECD
SNCB	SSX2IP
SNN	GATAD2A
SNRK	MKRN1
SNRNP35	KIAA0528
SNRNP70	MAP3K3
SNRPA	ALMS1
SNRPB	MAGMAS
SNX13	MRPS23
SNX17	TEAD1
SNX19	ACSL4
RUNDC2A	LRRC37B
SNX3	C9ORF30
SNX5	DUSP16
SOCS4	GFM2
SOCS4	MAML3
SORL1	ACMSD
SOS1	GPC2
SOX11	SOX4
SOX4	SOX11
SPATA13	AMFR
SPATA13	FUT8
SPCS3	HSPA4
SPDYE2B	COA6
SPDYE2B	RGPD1
SPDYE2B	RGPD2
SPDYE2B	RGPD3
SPDYE2B	RGPD4
CYTSA	NIPAL3
SPG11	NCK2
SPIDR	AHCYL2
SPTLC1	BTBD9
SRA1	ITPK1
SRCAP	MSANTD4
SRF	KDM6B
SRF	FAM128B
SRF	MAGMAS
SRF	RNFT2
SRF	SCAND1
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2B
SRPRB	COQ4
SS18L1	ATP1A3
SS18L1	ETF1
SS18L2	NNAT
SSBP3	CTTNBP2NL
SSH2	ITM2B
SSX2IP	SNCB
STAG3	ANAPC1
STAM2	PSMF1
STK24	PCGF3
STK4	OSBPL1A
STK4	QDPR
STMN1	HNRNPH1
STX10	NXF1
STX10	SMARCA1
STX12	PYROXD1
STX1A	C15ORF57
STXBP3	PPT1
STXBP5	GORASP1
SUDS3	ANKRD26
SULT1A1	SULT1A3
SULT1A3	SULT1A1
SULT1A3	SULT1A4
SULT1A4	SULT1A3
SUMO2	PIK3R2
SUPT6H	CDK5RAP1
SUPT6H	LPIN1
SUPT7L	C14ORF169
SUZ12	ABCA3
SUZ12	FKBP8
SUZ12	OXSR1
SYNRG	LSM8
SYT6	FBXO44
SZT2	MTA2
SZT2	PIGN
MAP3K7IP2	PRPF3
TAF1	ANKRD44
TAF10	IDH2
TAF12	HSD17B7P2
TAF13	RTN2
TAF1A	RFX2
TAF1B	CDC37
TAF1B	CDKN2AIP
TAF1B	DULLARD
TAF1B	GALNT11
TAF2	DHX33
TAF2	HDAC5
TAF6	CWC22
TAF6	PTGFRN
TARS2	SNAP91
TARSL2	MAPK1
TBC1D19	ANP32B
TBC1D23	RAD51C
TBC1D9B	ATP13A3
TBC1D9B	NSA2
TBCK	ITGB1BP1
TBK1	APC2
TBK1	NBPF10
TBR1	HIC2
TCAIM	OGFOD1
TCEAL1	CPSF2
TCEAL1	LEMD3
TCEAL8	DSCR3
TCEB2	DSCAM
TCP11L1	KHDRBS3
TCTN3	LAPTM4B
TCTN3	LINS
TCTN3	MFAP2
TCTN3	MRPL3
TCTN3	PHF10
TDP2	LAP3
TEAD1	SNX17
TECPR1	C4ORF8
TECR	INTS2
TES	C17ORF75
TES	LMBRD1
TEX2	COQ7
TFCP2	DDHD2
TFDP2	DYNLL2
TGS1	LSM6
THAP4	PIM2
THOC3	CLTA
THOC5	ARL5A
THOC7	COMMD7
TIFA	IFT46
TIMM23B	COG8
TIMM50	C16ORF13
TIMM50	CUL4B
TIMM50	DNASE1
TIMM50	FGFR1
TIMM50	SGTA
TIMP2	KATNAL1
TIMP2	MPPED1
TINF2	LMNA
TINF2	POMGNT1
