ABCB8	MRPS9
ABCC1	IL17RD
ACTB	POTEE
ACTB	POTEI
ACTB	POTEJ
AGPAT5	BCS1L
AHCTF1	BRD9
AIDA	SIRT2
AKAP1	KDM6B
AKAP1	PPDPF
ALS2	ATG5
AMFR	FUT8
ANAPC1	MPI
ANAPC4	FAM135A
ANKRD39	PIN1
ANP32B	TBC1D19
AP3D1	SCAND1
GRLF1	BAIAP2
ARHGEF9	IARS2
ARID3B	MRPL28
ATG5	ALS2
ATP5E	ATP5EP2
ATP5EP2	ATP5E
BAG1	ING3
BAIAP2	GRLF1
BCR	KCNH7
BCS1L	AGPAT5
BLZF1	9-Sep
BNIP3	PKD1
BOLA2	BOLA2B
BOLA2B	BOLA2
BRD9	AHCTF1
BRD9	RAF1
BRMS1L	CELF4
BTAF1	DBNL
C21orf33	CH507-9B2.3
C5ORF24	LUZP1
CABP7	KPNA5
CBWD1	CBWD2
CBWD2	CBWD1
CBWD3	CBWD7
CBWD7	CBWD3
CCZ1	CCZ1B
CCZ1B	CCZ1
CD59	HADH
CDYL	C6ORF130
CEBPZOS	DPP8
CELF4	BRMS1L
CEP290	NDUFB5
CH507-9B2.3	C21orf33
CNOT8	PDE5A
CNTROB	MAF1
COMMD2	IMMP1L
COMMD3	COMMD3-BMI1
COMMD3-BMI1	COMMD3
COMMD8	MYNN
CST3	PI4KA
DULLARD	EIF2AK1
DULLARD	TAF1B
CXORF40A	CXorf40B
CXorf40B	CXORF40A
DAZAP1	OGDH
DBNL	BTAF1
DCUN1D2	HEATR4
DCUN1D2	HIP1R
DDT	NUCB2
DDX3Y	DYNLL2
DNAJB11	PET100
DNASE1	GFM2
DPH7	RUVBL1
DPP8	CEBPZOS
DTNB	PPP5C
DYNLL2	DDX3Y
DYNLL2	SLAIN1
ECHDC1	FAT4
EIF2AK1	DULLARD
EIF3C	EIF3CL
EIF3CL	EIF3C
SELI	HARS2
ETV3	KHDRBS3
FAM135A	ANAPC4
FAM206A	MAP2K4
C18ORF19	NR2C1
FAM214B	LSG1
FAM21A	FAM21C
FAM21A	HEATR4
FAM21C	FAM21A
FAT4	ECHDC1
FBXO44	SYT6
FKBP1A	FKBP1C
FKBP1C	FKBP1A
FKBP4	SLC23A2
FUT8	AMFR
GALNT1	GPRASP2
GALNT1	LIG3
GATAD2A	SNN
GFM2	DNASE1
GOLGA8A	GOLGA8B
GOLGA8B	GOLGA8A
GPR89A	GPR89B
GPR89B	GPR89A
GPRASP2	GALNT1
GTF2H2	GTF2H2C
GTF2H2C	GTF2H2
GTF2IRD2	GTF2IRD2B
GTF2IRD2B	GTF2IRD2
H3F3B	H3F3C
H3F3C	H3F3B
HADH	CD59
HADHB	NRCAM
HARS2	SELI
HAT1	SLC30A9
HDAC9	ORC2L
HEATR4	DCUN1D2
HEATR4	FAM21A
HEATR4	HIP1R
HIP1R	DCUN1D2
HIP1R	HEATR4
HIP1R	MAF1
HIP1R	NDRG4
HIST2H4A	HIST2H4B
HIST2H4B	HIST2H4A
HMBOX1	MPDU1
HNRNPA1	HNRNPA1L2
HNRNPA1L2	HNRNPA1
IARS2	ARHGEF9
IFT46	TIFA
IL17RD	ABCC1
IMMP1L	COMMD2
ING3	BAG1
KAT5	RNF214
KCNH7	BCR
KDM6B	AKAP1
KDM6B	PPDPF
KHDRBS3	ETV3
KLHL20	MBD5
KPNA5	CABP7
LAPTM4B	MRPL3
LIG3	GALNT1
LIG3	POMGNT1
LMTK2	MRPS27
LRRC37A	LRRC37A2
LRRC37A	LRRC37A3
LRRC37A2	LRRC37A
LRRC37A3	LRRC37A
LRRC37B	MKL1
LRRC41	SLC16A9
LSG1	FAM214B
LUZP1	C5ORF24
MAF1	CNTROB
MAF1	HIP1R
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MAP1LC3B	MAP1LC3B2
MAP1LC3B2	MAP1LC3B
MAP2K4	FAM206A
MBD5	KLHL20
MFAP2	TCTN3
MKL1	LRRC37B
MLH1	RNF115
MPDU1	HMBOX1
MPI	ANAPC1
MPV17	MTHFD2L
MRPL28	ARID3B
MRPL3	LAPTM4B
MRPL38	PPDPF
MRPS27	LMTK2
MRPS9	ABCB8
MTHFD2L	MPV17
MTRNR2L12	MTRNR2L8
MTRNR2L8	MTRNR2L12
MYNN	COMMD8
NACA	NACA2
NACA2	NACA
NBPF10	NBPF14
NBPF10	NBPF8
NBPF10	NBPF9
NBPF10	RGS17
NBPF14	NBPF10
NBPF8	NBPF10
NBPF8	NBPF9
NBPF9	NBPF10
NBPF9	NBPF8
NCOR2	PDXK
NDRG4	HIP1R
NDUFB5	CEP290
NLGN1	SLX1B
NLGN3	RAB33A
NMNAT2	PTRH2
NOMO1	NOMO2
NOMO1	NOMO3
NOMO2	NOMO1
NOMO2	NOMO3
NOMO3	NOMO1
NOMO3	NOMO2
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA2	NPIPA5
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA5	NPIPA2
NPIPA7	NPIPA8
NPIPA8	NPIPA7
NPIPL3	NPIPB5
NPIPB5	NPIPL3
NR2C1	C18ORF19
NRCAM	HADHB
NUCB2	DDT
C6ORF130	CDYL
OGDH	DAZAP1
ORC2L	HDAC9
OSBPL1A	QDPR
OSBPL1A	STK4
PABPC1	PABPC3
PABPC3	PABPC1
MAGMAS	SNRPB
PDE5A	CNOT8
PDXK	NCOR2
PET100	DNAJB11
PGAM1	PGAM4
PGAM4	PGAM1
PI4KA	CST3
PIN1	ANKRD39
PKD1	BNIP3
POLR2J	POLR2J2
POLR2J	POLR2J3
POLR2J2	POLR2J
POLR2J2	POLR2J3
POLR2J3	POLR2J
POLR2J3	POLR2J2
POMGNT1	LIG3
POTEE	ACTB
POTEE	POTEI
POTEE	POTEJ
POTEI	ACTB
POTEI	POTEE
POTEI	POTEJ
POTEJ	ACTB
POTEJ	POTEE
POTEJ	POTEI
PPDPF	AKAP1
PPDPF	KDM6B
PPDPF	MRPL38
PPP5C	DTNB
PPP5C	RGS12
PTRH2	NMNAT2
QDPR	OSBPL1A
RAB33A	NLGN3
RAB6A	RAB6C
RAB6C	RAB6A
RAF1	BRD9
RGPD1	RGPD2
RGPD1	RGPD3
RGPD1	RGPD4
RGPD1	SPDYE2B
RGPD2	RGPD1
RGPD2	RGPD4
RGPD3	RGPD1
RGPD3	RGPD4
RGPD3	SPDYE2B
RGPD4	RGPD1
RGPD4	RGPD2
RGPD4	RGPD3
RGPD4	SPDYE2B
RGPD5	RGPD6
RGPD6	RGPD5
RGPD6	RGPD8
RGPD8	RGPD6
RGS12	PPP5C
RGS17	NBPF10
RNF115	MLH1
RNF214	KAT5
RNFT2	SRF
RRAGC	SEC24A
RTN2	TAF13
RUVBL1	DPH7
SCAND1	AP3D1
SEC24A	RRAGC
9-Sep	BLZF1
SERF1A	SERF1B
SERF1B	SERF1A
SETD1B	SH2D3C
SH2D3C	SETD1B
SIRT2	AIDA
SLAIN1	DYNLL2
SLC16A9	LRRC41
SLC23A2	FKBP4
SLC30A9	HAT1
SLX1B	NLGN1
SMN1	SMN2
SMN2	SMN1
SNN	GATAD2A
SNRPB	MAGMAS
SPDYE2B	RGPD1
SPDYE2B	RGPD3
SPDYE2B	RGPD4
SRF	RNFT2
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2B
STK4	OSBPL1A
SULT1A3	SULT1A4
SULT1A4	SULT1A3
SYT6	FBXO44
TAF13	RTN2
TAF1B	DULLARD
TBC1D19	ANP32B
TCTN3	MFAP2
TIFA	IFT46
