ABCA1	ADSS
ABCA1	PRPF3
ABCF3	CCNF
ACTB	POTEE
ACTB	POTEI
ACTB	POTEJ
ADCY3	THTPA
ADSS	ABCA1
ADSS	RRP1B
AGAP8	AGAP6
AGAP6	AGAP8
AGGF1	LARP1B
AHCY	PACS1
AKR1C2	AKR1C3
AKR1C3	AKR1C2
AMBRA1	ATP1A1
AMBRA1	GBA2
ANAPC10	JMJD7-PLA2G4B
AP000275.65	C21ORF59
AP1B1	ERI1
APBB3	RBM27
APEH	NAPEPLD
ARHGAP23	DNAJC13
ARL17P1	ARL17B
ARL17B	ARL17P1
ARL2BP	PLLP
ASCC1	SFRS6
ATE1	ELMOD2
ATP1A1	AMBRA1
ATP5E	ATP5EP2
ATP5EP2	ATP5E
ATPAF2	LRRC48
B4GALNT1	SLC26A10
B4GALT7	OAT
BBS1	CORO7
BOLA2	BOLA2B
BOLA2B	BOLA2
C12orf49	NETO2
C16ORF13	MRPL38
C16orf58	SLC5A2
C19orf70	GRAMD1A
C20orf27	GRAMD1A
C21orf33	CH507-9B2.3
C21ORF59	AP000275.65
C3ORF17	MAP7D2
C6orf89	OLFM2
CALM2	STMN1
CBWD1	CBWD2
CBWD1	CBWD3
CBWD1	CBWD5
CBWD2	CBWD1
CBWD2	CBWD3
CBWD3	CBWD1
CBWD3	CBWD2
CBWD3	CBWD5
CBWD3	CBWD7
CBWD5	CBWD1
CBWD5	CBWD3
CBWD5	CBWD7
CBWD7	CBWD3
CBWD7	CBWD5
CCBL2	LAP3
CCDC7	FLRT1
CCNF	ABCF3
CCZ1	CCZ1B
CCZ1B	CCZ1
CDC42BPB	RAB33A
CDH24	MFN2
CDK20	NFIC
CDK2AP2	DHX30
CH507-42P11.8	SIK1
CH507-9B2.3	C21orf33
CIC	GRAMD1A
CISD3	PCGF2
CLSTN1	GPD1L
CNTFR	HMGXB3
COMMD3	COMMD3-BMI1
COMMD3-BMI1	COMMD3
CORO7	BBS1
CXORF40A	CXorf40B
CXorf40B	CXORF40A
DDX52	SAMD1
DGCR6	DGCR6L
DGCR6L	DGCR6
DHRS1	PRDX1
DHRSX	KDM5C
DHX30	CDK2AP2
DISP2	RNF103
DNAJB11	PET100
DNAJC13	ARHGAP23
DRAM2	ENOX1
EEF1A2	TATDN2
EIF3C	EIF3CL
EIF3CL	EIF3C
EIF5A	EIF5AL1
EIF5AL1	EIF5A
ELMOD2	ATE1
EMG1	HIC2
ENOX1	DRAM2
ERI1	AP1B1
FAM134A	SNAP47
FAM168B	LPHN1
C15ORF17	MPI
FAM21A	FAM21C
FAM21C	FAM21A
FKBP1A	FKBP1C
FKBP1C	FKBP1A
FLRT1	CCDC7
GBA2	AMBRA1
GFM2	MAN2C1
GNA11	SLAIN1
GOLGA6L10	GOLGA6L4
GOLGA6L10	GOLGA6L9
GOLGA6L4	GOLGA6L10
GOLGA6L4	GOLGA6L9
GOLGA6L9	GOLGA6L10
GOLGA6L9	GOLGA6L4
GOLGA8A	GOLGA8B
GOLGA8B	GOLGA8A
GPD1L	CLSTN1
GPR89A	GPR89B
GPR89B	GPR89A
GRAMD1A	C19orf70
GRAMD1A	C20orf27
GRAMD1A	CIC
GSTM1	GSTM2
GSTM2	GSTM1
GTF2H2	GTF2H2C
GTF2H2C	GTF2H2
GTF2IRD2	GTF2IRD2B
GTF2IRD2B	GTF2IRD2
H3F3B	H3F3C
H3F3C	H3F3B
HIATL1	SLK
HIC2	EMG1
HIST2H4A	HIST2H4B
HIST2H4B	HIST2H4A
HMGXB3	CNTFR
HNRNPA1	HNRNPA1L2
HNRNPA1L2	HNRNPA1
HNRNPH1	MTRNR2L12
HNRNPH1	MTRNR2L8
HSPE1-MOBKL3	MOBKL3
INHBA	SATB2
JMJD7-PLA2G4B	ANAPC10
JMJD7-PLA2G4B	NPIPB15
KDM5C	DHRSX
LAP3	CCBL2
LARP1B	AGGF1
LPHN1	FAM168B
LRIF1	PCDHB2
LRRC37A	LRRC37A2
LRRC37A2	LRRC37A
LRRC48	ATPAF2
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MAGI2	MDP1
MAN2C1	GFM2
MAP1LC3B	MAP1LC3B2
MAP1LC3B2	MAP1LC3B
MAP7D2	C3ORF17
MAST1	SEMA4C
MBNL1	MTA3
MDP1	MAGI2
METTL2A	METTL2B
METTL2B	METTL2A
MFN2	CDH24
MIER3	NXPH4
MOBKL3	HSPE1-MOBKL3
MPI	C15ORF17
MRPL38	C16ORF13
MTA3	MBNL1
MTRNR2L12	HNRNPH1
MTRNR2L12	MTRNR2L8
MTRNR2L12	RASGEF1B
MTRNR2L8	HNRNPH1
MTRNR2L8	MTRNR2L12
MTRNR2L8	RASGEF1B
MTRNR2L8	ROBO2
MTUS1	RAP1GAP2
NACA	NACA2
NACA2	NACA
NAPEPLD	APEH
NBPF10	NBPF14
NBPF11	NBPF12
NBPF12	NBPF11
NBPF14	NBPF10
NETO2	C12orf49
NFIC	CDK20
NHLH1	SNRPA
NOMO1	NOMO2
NOMO1	NOMO3
NOMO2	NOMO1
NOMO2	NOMO3
NOMO3	NOMO1
NOMO3	NOMO2
NOP16	SLC2A1
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA1	NPIPA5
NPIPA1	NPIPA8
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA2	NPIPA5
NPIPA2	NPIPA7
NPIPA2	NPIPA8
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA3	NPIPA5
NPIPA3	NPIPA7
NPIPA3	NPIPA8
NPIPA5	NPIPA1
NPIPA5	NPIPA2
NPIPA5	NPIPA3
NPIPA5	NPIPA7
NPIPA5	NPIPA8
NPIPA7	NPIPA2
NPIPA7	NPIPA3
NPIPA7	NPIPA5
NPIPA7	NPIPA8
NPIPA8	NPIPA1
NPIPA8	NPIPA2
NPIPA8	NPIPA3
NPIPA8	NPIPA5
NPIPA8	NPIPA7
NPIPB11	NPIPL3
NPIPB15	JMJD7-PLA2G4B
NPIPB15	RNF44
NPIPL3	NPIPB11
NPIPL3	NPIPB4
NPIPL3	NPIPB5
NPIPB4	NPIPL3
NPIPB4	NPIPB5
NPIPB5	NPIPL3
NPIPB5	NPIPB4
NXPH4	MIER3
OAT	B4GALT7
OLFM2	C6orf89
OPN1SW	RECQL
PABPC1	PABPC3
PABPC3	PABPC1
PACS1	AHCY
PCDH11X	PCDH11Y
PCDH11Y	PCDH11X
PCDHB2	LRIF1
PCDHGA10	SNRNP25
PCGF2	CISD3
PET100	DNAJB11
PGAM1	PGAM4
PGAM4	PGAM1
PIGY	PYURF
PLLP	ARL2BP
POLR2J	POLR2J2
POLR2J2	POLR2J
POTEE	ACTB
POTEE	POTEI
POTEE	POTEJ
POTEI	ACTB
POTEI	POTEE
POTEI	POTEJ
POTEJ	ACTB
POTEJ	POTEE
POTEJ	POTEI
PPP3CB	SAMD4B
PRDX1	DHRS1
PRPF3	ABCA1
PXDN	SCAMP5
PYURF	PIGY
RAB33A	CDC42BPB
RAB6A	RAB6C
RAB6C	RAB6A
RABL2A	RABL2B
RABL2B	RABL2A
RAP1GAP2	MTUS1
RASGEF1B	MTRNR2L12
RASGEF1B	MTRNR2L8
RBM27	APBB3
RECQL	OPN1SW
RFX7	SACS
RGPD1	RGPD2
RGPD2	RGPD1
RGPD3	RGPD4
RGPD4	RGPD3
RGPD5	RGPD6
RGPD5	RGPD8
RGPD6	RGPD5
RGPD6	RGPD8
RGPD8	RGPD5
RGPD8	RGPD6
RNF103	DISP2
RNF44	NPIPB15
ROBO2	MTRNR2L8
RRP1B	ADSS
SACS	RFX7
SAMD1	DDX52
SAMD4B	PPP3CB
SATB2	INHBA
SCAMP5	PXDN
SEMA4C	MAST1
SERF1A	SERF1B
SERF1B	SERF1A
SIK1	CH507-42P11.8
SLAIN1	GNA11
SLC26A10	B4GALNT1
SLC2A1	NOP16
SLC5A2	C16orf58
SLK	HIATL1
SMN1	SMN2
SMN2	SMN1
SNAP47	FAM134A
SNRNP25	PCDHGA10
SNRPA	NHLH1
SPDYE2	SPDYE2B
SPDYE2B	SPDYE2
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2B
SFRS6	ASCC1
STMN1	CALM2
SULT1A3	SULT1A4
SULT1A4	SULT1A3
TATDN2	EEF1A2
THTPA	ADCY3
