C11ORF67	ARL6IP4
C11ORF67	ATP5G2
AAMP	SCLT1
AAMP	SUPT7L
C20ORF4	SCYL2
ABAT	AMFR
ABAT	PIK3CA
ABAT	SYS1
ABCA1	ADSS
ABCA1	PRPF3
ABCA1	RRP1B
ABCB8	GTF2F2
ABCC10	MPHOSPH9
ABCD2	GLMN
ABCF2	NDFIP2
ABCF2	RAD17
ABCF3	CCNF
ABCF3	HTT
ABHD14A	DDX5
ABHD17C	DYRK2
ABHD17C	NBPF9
ABHD17C	NUP88
ABT1	H2AFY2
ACAD10	PCNX
ACAD9	ALG5
ACO1	C1ORF61
ACOT13	SUPV3L1
ACOT8	GCN1L1
ACTB	POTEE
ACTB	POTEI
ACTB	POTEJ
ACTB	PTMA
ACTB	PTPRS
ADAM22	CERK
ADAMTS10	MED8
ADAMTS10	MTFMT
ADAMTS10	NCAM2
ADAMTS5	SEC22A
ADAT2	ATP9B
ADAT2	SQSTM1
ADCY3	THTPA
ADK	AP2A1
ADK	ATP11B
ADNP	AIDA
ADNP	SERINC5
ADPGK	DCAKD
ADPGK	FAXC
ADPGK	HDAC1
ADSS	ABCA1
ADSS	RRP1B
ADSS	SLC3A1
ADSS	SMCHD1
AFF4	C17ORF80
AFF4	POLE3
AGAP10	AGAP8
AGAP8	AGAP10
AGAP8	AGAP6
AGAP6	AGAP8
AGGF1	EEF1E1
AGGF1	GUCY1A3
AGGF1	LARP1B
AGGF1	MTUS1
AGGF1	RAP1GAP2
EIF2C3	STOM
AGPAT6	RCBTB1
AHCY	PACS1
AHCY	RAD51C
AHSA2	NCDN
AIDA	ADNP
AK3	C6orf89
AKAP1	MLH1
AKAP1	MTERFD2
AKAP1	SLC2A3
AKAP10	ALG8
AKAP11	OGFOD1
AKR1C1	AKR1C2
AKR1C2	AKR1C1
AKR1C2	AKR1C3
AKR1C3	AKR1C2
ALDH3A2	ALKBH7
ALDH3A2	FBL
ALDH3A2	MTUS1
ALDH9A1	APMAP
ALG14	SF3B2
ALG5	ACAD9
ALG8	AKAP10
ALG8	FANCF
ALG9	CDC34
ALKBH3	NTMT1
ALKBH7	ALDH3A2
AMBRA1	ATP1A1
AMBRA1	GBA2
AMFR	ABAT
ANAPC10	JMJD7-PLA2G4B
ANAPC11	DYNLRB1
ANKRA2	KHDRBS2
ANKRD12	ARHGEF9
ANKRD13C	PGRMC2
ANKRD27	DDX3Y
ANKRD39	FBXL3
ANKRD50	MTMR6
ANKRD52	TCEA2
ANKS1B	PRDX4
ANP32B	INTS12
ANP32B	SLC2A1
ANTXR2	ARL4C
ANXA7	FAM127C
AP000275.65	C21ORF59
AP000275.65	PTRH2
AP1B1	ERI1
AP2A1	ADK
AP2A1	ATP11B
AP2A2	CHRAC1
AP2A2	TBC1D13
AP3B2	GLE1
AP3S2	SATB2
AP4E1	CBL
AP4E1	NFE2L1
AP4E1	PIGL
MUDENG	MT1X
APBA1	RNF185
APBB2	CREBRF
APBB2	RAB3GAP2
APBB3	FLYWCH2
APBB3	RBM27
APEH	C5ORF42
APEH	LRIF1
APEH	NAPEPLD
APH1A	FBXO7
APMAP	ALDH9A1
APOA1BP	CAPZB
APOA1BP	NT5C3L
KIAA0317	ENTPD6
ARHGAP23	ATP6AP1
ARHGAP23	DNAJC13
ARHGAP23	HTT
SNX26	C20orf27
ARHGEF10	GTF2IRD2
ARHGEF40	MSH3
ARHGEF9	ANKRD12
ARL13B	CHURC1-FNTB
ARL17P1	ARL17B
ARL17B	ARL17P1
ARL2BP	PLLP
ARL2BP	SURF4
ARL4C	ANTXR2
ARL5B	RNASEH2C
ARL6IP4	C11ORF67
ARL6IP6	SYAP1
AS3MT	RNGTT
ASCC1	EIF4A2
ASCC1	C5ORF13
ASCC1	SFRS6
ASNA1	BLVRA
ASRGL1	DEF8
ASTE1	ATXN7
ASTE1	EVI5
ASTE1	JUP
ASTN2	FAM86B1
ATE1	CCDC25
ATE1	ELMOD2
ATE1	GRK4
ATE1	C19ORF50
ATG3	CD2BP2
ATL2	PCBP4
ATN1	GUSB
ATN1	JMJD7-PLA2G4B
ATN1	LRRC55
ATP11A	SLC3A1
ATP11B	ADK
ATP11B	AP2A1
ATP13A2	PITPNA
ATP13A2	SND1
ATP1A1	AMBRA1
ATP1A1	NBPF10
ATP1A3	OSBP
ATP5E	ATP5EP2
ATP5EP2	ATP5E
ATP5G2	C11ORF67
ATP5G2	ITGAV
ATP5L2	CDC42BPB
ATP5L2	SCN8A
ATP5SL	MTERFD2
ATP6AP1	ARHGAP23
ATP6V0C	POTEI
ATP6V1E1	EFCAB14
ATP9B	ADAT2
ATP9B	RABGAP1L
ATP9B	SQSTM1
ATPAF2	LRRC48
ATPAF2	NDFIP2
ATXN2L	ERCC6
ATXN7	ASTE1
ATXN7	RBM18
ATXN7L1	DAGLB
ATXN7L1	MAGEE2
ATXN7L1	RALB
AVL9	HNRNPUL2
AVL9	TBC1D30
AZI2	C12orf76
B3GALNT1	GCFC2
B3GALT2	PLXNA1
B4GALNT1	SLC26A10
B4GALNT4	MCM3AP
B4GALNT4	PXDN
B4GALT2	C4ORF29
B4GALT2	PIGG
B4GALT7	OAT
BAG5	PMPCA
BAI2	PMEPA1
BAIAP2	CEP68
BAP1	HADHB
BBS1	CORO7
BBS1	NRSN2
BBS1	SLC35A3
BBS2	PARL
BCL11A	MIF
BEND5	CTDSP2
BEND5	EMC7
BFAR	DVL3
BIN3	CD276
BIN3	SHMT2
BIRC2	LAP3
BIVM	PTGR2
BLOC1S2	GOLGA6L10
BLOC1S2	GOLGA6L4
BLVRA	ASNA1
BOLA2	BOLA2B
BOLA2B	BOLA2
BOLA3	SLC1A3
BRCC3	GMPPB
BRD7	EFCAB14
BXDC2	MAP4K3
BRWD3	INTS9
BRWD3	NUFIP2
BTAF1	CLCN4
BTBD1	EIF2S3L
BTRC	IQCE
C10orf35	RUSC2
C12orf49	ERCC8
C12orf49	NETO2
C12orf49	SURF1
C12orf5	SETX
C12orf73	CSAD
C12orf76	AZI2
C14ORF119	FOXK1
C14ORF169	HIC2
C14orf37	GUF1
C14ORF39	RBM8A
C16ORF13	MRPL38
C16orf58	CCDC115
C16orf58	SLC5A2
C16ORF62	NPC1
C16ORF62	SPIDR
C16ORF62	SRR
C17ORF62	NUBP2
C17ORF80	AFF4
C17ORF80	C18orf54
C17ORF80	NCCDC56
C18ORF21	FAM214B
C18orf54	C17ORF80
C19orf70	EXT2
C19orf70	GRAMD1A
C1ORF61	ACO1
C20orf27	SNX26
C20orf27	CIC
C20orf27	GRAMD1A
C20orf27	RBM42
C21orf33	CH507-9B2.3
C21ORF59	AP000275.65
C22ORF39	CHML
C22ORF39	FAM91A1
C2CD3	DENR
C2orf43	CDK4
C3ORF17	MAP7D2
C3ORF17	RUNDC2A
C3ORF38	PMM1
C4ORF29	B4GALT2
C4orf48	KIAA1045
C4orf48	NXPE3
C5ORF24	C15ORF17
C5ORF24	RFWD3
C5ORF30	FAM86B1
C5ORF30	SLC9A6
C5ORF42	APEH
C5ORF42	NAPEPLD
C5ORF45	GBAS
C5ORF51	HPCA
C6orf211	GATC
C6orf211	KIAA1797
C6orf89	AK3
C6orf89	OLFM2
C7ORF55	CCDC184
C8ORF33	TBC1D8
C9ORF89	SULT1A3
C9ORF89	SULT1A4
CAB39	NDEL1
CACNA1A	CYP20A1
CACNA1B	INSIG1
CACNA1B	PC
CACNA1B	SEMA5B
CACNA1H	TFIP11
CACNA2D1	KLHL32
CACNB4	LAP3
CACNB4	ORC6L
CACNB4	SFT2D2
CADM3	HIBCH
CADM3	MBD3
CALM2	GAPDH
CALM2	MARCKS
CALM2	STMN1
CAMTA2	DTWD1
CAPNS1	CCDC138
CAPZB	APOA1BP
CARD8	PINK1
CARS	FAM134A
CBFB	DHX33
CBL	AP4E1
CBLL1	RNF167
CBWD1	CBWD2
CBWD1	CBWD3
CBWD1	CBWD5
CBWD1	CBWD7
CBWD2	CBWD1
CBWD2	CBWD3
CBWD2	CBWD5
CBWD2	CBWD7
CBWD3	CBWD1
CBWD3	CBWD2
CBWD3	CBWD5
CBWD3	CBWD7
CBWD5	CBWD1
CBWD5	CBWD2
CBWD5	CBWD3
CBWD5	CBWD7
CBWD7	CBWD1
CBWD7	CBWD2
CBWD7	CBWD3
CBWD7	CBWD5
CBX1	POTEJ
CC2D2A	IFT74
CC2D2A	LPAR2
CCBL1	NYAP2
CCBL2	LAP3
CCBL2	SLAIN1
CCDC115	C16orf58
CCDC117	CSELI
CCDC117	CHD2
CCDC117	CNTN2
CCDC117	GBA2
CCDC117	MTERFD2
CCDC127	LRRIQ1
CCDC137	IGSF21
CCDC137	PCSK1N
CCDC138	CAPNS1
CCDC144A	KLHL32
CCDC184	C7ORF55
CCDC25	ATE1
CCDC43	LARP1B
CCDC58	GEMIN2
CCDC64	CERK
CCDC7	FLRT1
CCDC77	KIF20B
CCNF	ABCF3
CCNJ	KRAS
CCNK	COTL1
CCNK	PUS7
CCZ1	CCZ1B
CCZ1B	CCZ1
CD164	KIAA0141
CD276	BIN3
CD276	PMM1
CD2BP2	ATG3
CD320	5-Sep
CDC123	NRXN1
CDC34	ALG9
CDC34	DISP2
CDC34	HERPUD2
CDC34	RASSF1
CDC37	5-Sep
CDC42BPB	ATP5L2
CDC42BPB	FGFR2
CDC42BPB	HTT
CDC42BPB	RAB33A
CDC42BPB	SCN8A
CDC42BPB	SDC3
CDH24	METTL8
CDH24	MFN2
CDH4	PCBP4
CDH4	SHF
CDK11A	EEF1G
CDK20	NFIC
CDK2AP2	DHX30
CDK2AP2	FSD1
CDK4	C2orf43
CDK5	PRPF31
CDK8	HSPBAP1
CDKL1	NGFRAP1
CDKL1	RNF139
CDKN1C	GUCY1A2
CEBPZOS	PRRC2A
CELF3	SVOP
CENPF	NBPF14
CENPF	SIGIRR
CENPT	GPD2
CEP104	NQO2
CEP164	NPC1
CEP68	BAIAP2
CEP70	KPNA5
CCDC21	NOL4
CCDC21	SCAMP5
CCDC21	SLC2A1
CCDC123	MYO9B
CSELI	CCDC117
CSELI	MFAP1
CERK	ADAM22
CERK	CCDC64
CERK	RNF44
CERK	SETD4
CETN2	KIAA0930
CCDC104	RBM19
CH507-42P11.8	COG6
CH507-42P11.8	SIK1
CH507-9B2.3	C21orf33
CHD2	CCDC117
CHFR	HSPA4L
CHGA	PRC1
CHML	C22ORF39
CHRAC1	AP2A2
CHRDL1	SLC35A3
CHST15	SCN8A
CHURC1-FNTB	ARL13B
CHURC1-FNTB	ELP3
CIC	C20orf27
CIC	GRAMD1A
CISD3	PCGF2
CKAP4	RNF44
CLCN4	BTAF1
CLCN4	PSAT1
CLDN12	SMYD4
CLIC4	NSD1
CLIP2	MAPK14
CLIP2	PITPNC1
CLK3	GUF1
CLPTM1	RBM42
CLPTM1L	LMBR1L
CLPX	PPA2
CLSTN1	GPD1L
CLSTN1	POT1
CLTB	PPP4C
CMAS	MAPKAPK5
CMC1	STAG3L5P-PVRIG2P-PILRB
CMTR2	SIMC1
CNNM2	NUBPL
CNNM2	RAP1GAP2
C2ORF24	SERINC2
CNST	LMAN2L
CNTFR	HMGXB3
CNTFR	PET117
CNTN1	GOLGA8A
CNTN1	GOLGA8B
CNTN1	INHBA
CNTN2	CCDC117
CNTN2	RNF44
COA6	NBPF10
COG4	LRRC55
COG6	CH507-42P11.8
COG6	SIK1
COMMD3	COMMD3-BMI1
COMMD3-BMI1	COMMD3
COMMD5	EIF4ENIF1
COMMD5	RFX2
COPS7A	NME3
COQ6	FBXO46
COQ6	FEM1A
CORO7	BBS1
CORO7	POU2F1
COTL1	CCNK
C12ORF62	SFRP1
COX6A1	ORC6L
CPSF3	GMPR2
CRAT	IL17RD
CRAT	NBPF12
CREBRF	APBB2
CRELD2	DOCK3
CRELD2	C5ORF13
CRIP2	STRAP
CSAD	C12orf73
CSAD	MAP3K9
CSGALNACT2	THOC5
CSNK1A1	SEMA4C
CSNK1A1L	PROSC
CSNK1D	MTHFD1L
CSNK1G3	CSPP1
CSNK2A1	CSNK2A3
CSNK2A3	CSNK2A1
CSNK2A3	RNH1
CSPP1	CSNK1G3
CSRP2BP	HIPK2
CTAGE5	KIAA0930
DULLARD	HDAC4
CTDSP2	BEND5
CTDSP2	FBXO18
CTNNBIP1	PAIP2B
CTSB	SPATA7
CTTNBP2NL	KDM4A
CCDC49	SLC25A37
CXCR5	MRPL36
CXORF40A	CXorf40B
CXorf40B	CXORF40A
CYP20A1	CACNA1A
CYP51A1	FDFT1
DAGLB	ATXN7L1
DBN1	PFN1
DCAKD	ADPGK
DCHS1	STK25
DCLK2	FBXO31
DCLK2	HPCA
DCLK2	6-Mar
DCLK2	RAB1B
DCLK2	RIT1
DCUN1D5	MLF2
DDR1	NUDCD3
DDR1	RNF19A
DDX19A	DDX19B
DDX19B	DDX19A
DDX19B	PUM1
DDX23	FAM168B
DDX25	NOVA1
DDX26B	NUBPL
DDX27	GCDH
DDX3Y	ANKRD27
DDX3Y	RAP1GAP2
DDX3Y	SERP2
DDX41	EXTL2
DDX5	ABHD14A
DDX5	SLC22A5
DDX52	SAMD1
DDX56	RNF170
DEF8	ASRGL1
DENR	C2CD3
DENR	FAM161B
DEPDC5	KATNB1
DERL1	NOL8
DGCR2	GLTP
DGCR2	RCHY1
DGCR6	DGCR6L
DGCR6L	DGCR6
DGCR8	GUK1
DGKD	PAIP2B
DHCR7	HMGN4
DHCR7	PGLS
DHRS1	PRDX1
DHRS1	KIAA0746
DHRSX	KDM5C
DHX30	CDK2AP2
DHX30	FSD1
DHX33	CBFB
DIEXF	REXO2
DIEXF	RTN4
DIEXF	SUZ12
DIS3	SFRS15
DIS3L2	NSA2
DISP2	CDC34
DISP2	RNF103
DKK3	IFT74
DLG1	EXOC6B
DLG2	NOMO1
DLG2	RASGEF1B
DLG3	HAX1
DLG3	NCOA2
DMD	POM121C
DNAAF2	GTF3C1
DNAAF2	PET117
DNAJB11	PET100
DNAJB4	FAM161B
DNAJB9	IFNGR1
DNAJC13	ARHGAP23
DNAJC2	NXF1
C6ORF108	RGPD1
C6ORF108	RGPD4
DOCK3	CRELD2
DOK6	NUFIP2
DRAM2	ENOX1
DTD1	FKBP2
DTD1	SSNA1
DTWD1	CAMTA2
DTWD1	RABGGTB
DTX4	ESCO1
DUOX1	BAT4
DUSP18	P4HA1
DUSP18	POLR3F
DUSP18	SULT1A4
DVL3	BFAR
DVL3	ELOVL5
DYM	FOCAD
DYM	MYO10
DYM	PKN2
DYNC1I1	RGS6
DYNLRB1	ANAPC11
DYRK2	ABHD17C
DYRK2	IDH2
EBAG9	SLC23A2
EBNA1BP2	GADD45GIP1
EDC4	MFSD6
EDC4	PDGFA
EDRF1	HAUS2
EEA1	PDE10A
EEF1A2	TATDN2
EEF1E1	AGGF1
EEF1E1	SLC38A6
EEF1G	CDK11A
EFCAB14	ATP6V1E1
EFCAB14	BRD7
EFNA5	GAB2
EFNA5	SULT1A3
EFNB3	KIAA1715
EIF2AK2	MBIP
EIF2AK2	STYX
EIF2B4	SELO
EIF2S3L	BTBD1
EIF3C	EIF3CL
EIF3CL	EIF3C
EIF4A2	ASCC1
EIF4ENIF1	COMMD5
EIF4G1	MTAP
EIF4G1	POM121
EIF5A	EIF5AL1
EIF5AL1	EIF5A
ELAVL2	MAP9
ELAVL4	MRPS35
ELMOD2	ATE1
ELMOD2	NME3
ELMOD2	SP3
C14ORF43	RAB1B
ELOVL5	DVL3
ELOVL5	BAT4
ELOVL5	IDH2
ELP3	CHURC1-FNTB
EMC7	BEND5
EMC7	KBTBD7
EMC7	MED12
EMC7	NAB2
EMC7	SATB1
EMG1	HAUS2
EMG1	HIC2
ENOX1	DRAM2
ENTPD1	IFNAR1
ENTPD1	MED13
ENTPD1	RNASEH2B
ENTPD4	SACS
ENTPD6	KIAA0317
EPB41L1	GFM1
EPB41L1	SLC35A5
EPB41L5	PRKD1
KIAA1632	FIS1
SELI	RGS6
ERCC6	ATXN2L
ERCC6L2	LRRC42
ERCC8	C12orf49
ERCC8	SURF1
ERI1	AP1B1
ERI1	GMPR2
ERI1	LRRC42
ERO1LB	ERP29
ERO1LB	SEC61A2
ERP29	ERO1LB
ERP44	RB1
ESCO1	DTX4
ETFB	PPIE
EVI5	ASTE1
EXOC6B	DLG1
EXOSC4	HIST3H2A
EXT2	C19orf70
EXT2	GRAMD1A
EXTL2	DDX41
EXTL2	NOL11
EYS	FPGS
EYS	HYOU1
FADS2	GRAMD1A
FAM104A	KLHL20
FAM104B	MRPS28
FAM126B	GFM2
FAM127C	ANXA7
FAM134A	CARS
FAM134A	SNAP47
FAM161B	DENR
FAM161B	DNAJB4
FAM168B	DDX23
FAM168B	LPHN1
FAM193B	PSME3
FAM19A5	GADD45G
FAM214B	C18ORF21
C15ORF17	C5ORF24
C15ORF17	MPI
FAM21A	FAM21C
FAM21C	FAM21A
FAM3C	HK1
FAM53C	INSIG1
FAM53C	NDEL1
FAM73A	MORC2L
FAM86B1	ASTN2
FAM86B1	C5ORF30
FAM89B	NEK9
FAM91A1	C22ORF39
FAM92A1	GANAB
FAM92A1	NRSN1
FANCF	ALG8
FANCM	MICAL3
FARSA	STARD4
FASN	INPP4A
FASN	KDM6B
FASN	PRC1
FASN	SMPD4
FASTKD2	MTCL1
FAXC	ADPGK
FAXC	MRPL10
FBL	ALDH3A2
FBXL3	ANKRD39
FBXL3	TIMM9
FBXO18	CTDSP2
FBXO18	GTF2H5
FBXO31	DCLK2
FBXO31	6-Mar
FBXO31	PLCH1
FBXO45	HN1L
FBXO46	COQ6
FBXO7	APH1A
FBXO7	SFRP1
FBXO9	MAPK8IP3
FDFT1	CYP51A1
FDFT1	TACC2
FEM1A	COQ6
FEM1A	PEX5
FEM1A	SLX1A
FER	MTMR6
FGD1	MRPS31
FGD4	SLC38A6
FGFR2	CDC42BPB
FH	PSME4
FHOD3	GRIK5
FHOD3	PCDHB2
FIS1	KIAA1632
FJX1	LCORL
FJX1	SLCO5A1
FKBP11	NBPF9
FKBP1A	FKBP1C
FKBP1B	PPP1R16B
FKBP1C	FKBP1A
FKBP2	DTD1
FLOT2	GPD1L
FLRT1	CCDC7
FLRT1	MUT
FLRT1	NUDT3
FLRT1	SELO
FLYWCH1	PPM1E
FLYWCH1	SCRG1
FLYWCH2	APBB3
FLYWCH2	LPCAT3
FLYWCH2	NME6
FOCAD	DYM
FOPNL	IFT74
FOXK1	C14ORF119
FPGS	EYS
FPGS	GRINA
C10ORF4	SUZ12
FSD1	CDK2AP2
FSD1	DHX30
FSD1	HPCA
FSD1	HSPA4L
FSD1	MVD
FTSJ3	MFN2
FUT8	PLAA
G6PC3	HIP1R
GAB2	EFNA5
GAB2	MPP6
GAB2	SNUPN
GABRA3	KCTD12
GABRA3	NFYB
GABRA3	POM121
GABRA3	SART3
GADD45G	FAM19A5
GADD45G	GNG10
GADD45G	PTPMT1
GADD45GIP1	EBNA1BP2
GALNT1	SPDYA
GALT	SAP130
GANAB	FAM92A1
GAPDH	CALM2
GAPDH	STMN1
GAS8	GPATCH1
GAS8	HMGXB3
GATAD2A	IFI27L2
GATC	C6orf211
GATS	PAX6
GBA2	AMBRA1
GBA2	CCDC117
GBAS	C5ORF45
GCDH	DDX27
GCFC2	B3GALNT1
GCFC2	PABPC4
GCN1L1	ACOT8
GCN1L1	NRSN1
GCN1L1	OLFM2
GCSH	KLF6
GDE1	IGHMBP2
GDE1	MRPL41
GDE1	NIT1
GDE1	PDE10A
GDPD1	PRUNE
GDPD5	GNL1
GDPD5	RABL2A
GEMIN2	CCDC58
GEMIN8	SPNS2
GFM1	EPB41L1
GFM2	FAM126B
GFM2	MAN2C1
GGA1	LAMP2
GIT1	SEMA4C
GIT1	SLC7A6OS
GLE1	AP3B2
GLMN	ABCD2
GLTP	DGCR2
GMFB	TBC1D13
GMPPB	BRCC3
GMPR2	CPSF3
GMPR2	ERI1
GMPR2	TAF2
GNA11	HDGFRP2
GNA11	MAN2C1
GNA11	PSD3
GNA11	SLAIN1
GNA11	SFRS6
GNAZ	LSM1
GNG10	GADD45G
GNG10	PISD
GNL1	GDPD5
GNL1	SLC6A6
GNPTG	OXA1L
GOLGA6L10	BLOC1S2
GOLGA6L10	GOLGA6L4
GOLGA6L10	GOLGA6L9
GOLGA6L4	BLOC1S2
GOLGA6L4	GOLGA6L10
GOLGA6L4	GOLGA6L9
GOLGA6L9	GOLGA6L10
GOLGA6L9	GOLGA6L4
GOLGA8A	CNTN1
GOLGA8A	GOLGA8B
GOLGA8B	CNTN1
GOLGA8B	GOLGA8A
GOLIM4	MIDN
GOLM1	TEX2
BAT4	DUOX1
BAT4	ELOVL5
GPATCH1	GAS8
GPATCH1	HMGXB3
GPATCH1	IDE
GPATCH4	IDH3B
GPBP1L1	MPHOSPH9
GPBP1L1	NME6
GPBP1L1	SLC25A29
GPBP1L1	SPDYE2B
GPD1L	CLSTN1
GPD1L	FLOT2
GPD2	CENPT
GPD2	PIGQ
GPR125	PLXNB2
GPR27	KIAA2022
GPR89A	GPR89B
GPR89A	POLI
GPR89A	SLC44A1
GPR89B	GPR89A
GPS2	ITM2B
GRAMD1A	C19orf70
GRAMD1A	C20orf27
GRAMD1A	CIC
GRAMD1A	EXT2
GRAMD1A	FADS2
GRHPR	PRELID1
GRIK5	FHOD3
GRINA	FPGS
GRINA	HECW2
GRINA	SETD4
GRK4	ATE1
GRM3	MAK16
GSTCD	PLXNA1
GSTM1	GSTM2
GSTM2	GSTM1
GTF2F2	ABCB8
GTF2H2	GTF2H2C
GTF2H2C	GTF2H2
GTF2H5	FBXO18
GTF2IRD1	PDXK
GTF2IRD2	ARHGEF10
GTF2IRD2	GTF2IRD2B
GTF2IRD2	SVIL
GTF2IRD2B	GTF2IRD2
GTF3C1	DNAAF2
GTF3C1	OAT
GTF3C4	THOC5
GTF3C5	PMS1
GTPBP10	MFAP1
GTPBP10	NSMF
GTPBP10	RNF144A
GUCY1A2	CDKN1C
GUCY1A2	MYL12A
GUCY1A3	AGGF1
GUF1	C14orf37
GUF1	CLK3
GUK1	DGCR8
GUSB	ATN1
GUSB	NBPF12
H1FX	METT10D
H2AFY2	ABT1
H2AFY2	NPDC1
H3F3A	MARCKS
H3F3A	MTRNR2L12
H3F3A	MTRNR2L8
H3F3A	STMN4
H3F3B	H3F3C
H3F3C	H3F3B
HADHB	BAP1
HARS2	PIK3C3
HAUS2	EDRF1
HAUS2	EMG1
HAUS2	MICAL3
HAUS2	RALBP1
HAX1	DLG3
HCFC1	PRDM2
HCN3	NACAD
HDAC1	ADPGK
HDAC4	DULLARD
HDAC8	MORF4L2
HDAC8	SFXN2
HDGF	SENP2
HDGFRP2	GNA11
HDX	HIATL1
HDX	RAN
HEATR5B	TEX2
HECW2	GRINA
HERPUD2	CDC34
HEXIM1	INTS4
HEXIM1	TAF1B
HIATL1	HDX
HIATL1	SLK
HIBCH	CADM3
HIC2	C14ORF169
HIC2	EMG1
HIGD1A	POMP
HIP1R	G6PC3
HIP1R	MED16
HIP1R	PCCB
HIPK1	STOML2
HIPK2	CSRP2BP
HIRA	NSUN5
HIST2H4A	HIST2H4B
HIST2H4A	RNF111
HIST2H4B	HIST2H4A
HIST2H4B	RNF111
HIST3H2A	EXOSC4
HK1	FAM3C
HK1	RGPD1
HMBS	SMEK2
HMGN4	DHCR7
HMGXB3	CNTFR
HMGXB3	GAS8
HMGXB3	GPATCH1
HMGXB3	KLHL29
HMGXB3	MYO10
HMGXB3	OPA1
HN1	KIAA0100
HN1L	FBXO45
HN1L	PCNXL2
HNRNPA1	HNRNPA1L2
HNRNPA1L2	HNRNPA1
HNRNPH1	MARCKS
HNRNPH1	MTRNR2L12
HNRNPH1	MTRNR2L8
HNRNPH1	RASGEF1B
HNRNPU	MYC
HNRNPUL2	AVL9
HNRNPUL2	MLXIP
HOMER1	PACS1
HOMER1	SLC3A1
HOOK2	PDE12
HOOK2	PTPN9
HPCA	C5ORF51
HPCA	DCLK2
HPCA	FSD1
HPCAL1	LYRM2
HSD17B10	5-Sep
HSPA1A	HSPA1B
HSPA1B	HSPA1A
HSPA4L	CHFR
HSPA4L	FSD1
HSPBAP1	CDK8
HSPBP1	MRPL41
HSPE1-MOBKL3	MOBKL3
HTT	ABCF3
HTT	ARHGAP23
HTT	CDC42BPB
HYOU1	EYS
IDE	GPATCH1
IDE	PPFIA1
IDH2	DYRK2
IDH2	ELOVL5
IDH3B	GPATCH4
IER2	KIAA0922
IFI27L2	GATAD2A
IFNAR1	ENTPD1
IFNAR1	MPP2
IFNGR1	DNAJB9
IFNGR1	SRCAP
IFT74	CC2D2A
IFT74	DKK3
IFT74	FOPNL
IGFBP2	PRH1
IGFBP5	MTO1
IGFBP5	PPP2CB
IGFBP5	PUS7
IGFBP5	STAT3
IGHMBP2	GDE1
IGHMBP2	PMS1
IGHMBP2	SCAND1
IGSF21	CCDC137
IKZF5	PPM1B
IL17RD	CRAT
INHBA	CNTN1
INHBA	PRDX1
INHBA	SATB2
INHBA	KIAA0746
INPP4A	FASN
INSIG1	CACNA1B
INSIG1	FAM53C
INTS12	ANP32B
INTS4	HEXIM1
INTS9	BRWD3
INTS9	KIAA1244
IQCE	BTRC
IRAK1BP1	SBF2
IREB2	RASGRP1
ISG20L2	PSME4
ITFG3	SYNGAP1
ITGAV	ATP5G2
ITGB3BP	LRRN1
ITGB8	MTRNR2L12
ITGB8	MTRNR2L8
ITM2B	GPS2
JMJD7-PLA2G4B	ANAPC10
JMJD7-PLA2G4B	ATN1
JMJD7-PLA2G4B	NPIPB15
JMJD7-PLA2G4B	RNF44
JUND	NHLH2
JUP	ASTE1
KAT5	PRRT2
KATNB1	DEPDC5
KATNB1	MTAP
KBTBD7	EMC7
KBTBD7	PPIL1
KCMF1	RALB
KCTD12	GABRA3
KCTD12	PSMD10
KDELR1	LRPAP1
KDELR1	RNF44
KDM4A	CTTNBP2NL
KDM5C	DHRSX
KDM5C	RCAN1
KDM6B	FASN
KHDRBS2	ANKRA2
KIAA0100	HN1
KIAA0141	CD164
KIAA0141	NR4A3
KIAA0907	PAFAH1B2
KIAA0922	IER2
KIAA0930	CETN2
KIAA0930	CTAGE5
KIAA0930	RNF115
KIAA1045	C4orf48
KIAA1045	NXPE3
KIAA1045	SNCB
KIAA1244	INTS9
KIAA1644	MFSD6
KIAA1715	EFNB3
KIAA2022	GPR27
KIAA1797	C6orf211
KIF20B	CCDC77
KIF20B	SPDYE2
KIF20B	SPDYE2B
KIF22	MTHFD1L
KIF22	NFX1
KLC4	PLCH1
KLF6	GCSH
KLHL20	FAM104A
KLHL29	HMGXB3
KLHL32	CACNA2D1
KLHL32	CCDC144A
KLHL32	NCK1
KLHDC5	NLGN2
KPNA2	PMS1
KPNA5	CEP70
KRAS	CCNJ
KRCC1	PPP1R18
KRI1	MEF2BNB
KRI1	RNF44
C19ORF50	ATE1
C19ORF50	RGMB
LAMP2	GGA1
LAP3	BIRC2
LAP3	CACNB4
LAP3	CCBL2
LAP3	MBOAT2
LAP3	RFX7
LARP1B	AGGF1
LARP1B	CCDC43
LARP1B	PEPD
LARP1B	RAP1GAP2
LARP4B	FAM40A
LCORL	FJX1
LDLR	LSMD1
LDOC1L	NEK3
LGALSL	NFX1
LHX2	ST3GAL2
LIMK2	MPDU1
LMAN2L	CNST
LMBR1L	CLPTM1L
LMBR1L	STYX
LPAR2	CC2D2A
LPCAT3	FLYWCH2
LPHN1	FAM168B
LPHN1	PYGB
LRCH3	C6ORF174
LRCH3	SPINT2
LRIF1	APEH
LRIF1	PCDHB2
LRIG2	SATB2
LRP1	NR4A3
LRPAP1	KDELR1
LRRC37A	LRRC37A2
LRRC37A	N6AMT2
LRRC37A	NFX1
LRRC37A2	LRRC37A
LRRC42	ERCC6L2
LRRC42	ERI1
LRRC48	ATPAF2
LRRC49	SFXN3
LRRC55	ATN1
LRRC55	COG4
LRRC58	RBCK1
LRRIQ1	CCDC127
LRRIQ1	PACRG
LRRN1	ITGB3BP
LRRN1	PRELID1
LRRN3	SLAIN2
LSM1	GNAZ
LYRM2	HPCAL1
LYST	MEX3B
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MAGEE2	ATXN7L1
MAGI2	MDP1
MAK16	GRM3
MAN2C1	GFM2
MAN2C1	GNA11
MAP1A	SRCAP
MAP1LC3B	MAP1LC3B2
MAP1LC3B2	MAP1LC3B
MAP1LC3B2	NSMCE4A
MAP1S	NRN1
MAP2K4	RHOB
MAP3K9	CSAD
MAP4K3	BXDC2
MAP7D2	C3ORF17
MAP7D2	RUNDC2A
MAP9	ELAVL2
MAPK14	CLIP2
MAPK8IP3	FBXO9
MAPK8IP3	TATDN2
MAPKAPK5	CMAS
5-Mar	TIMM17A
6-Mar	DCLK2
6-Mar	FBXO31
6-Mar	PLCH1
MARCKS	CALM2
MARCKS	H3F3A
MARCKS	HNRNPH1
MAST1	SEMA4C
MAST2	NUMBL
MAST2	SLC6A6
MBD3	CADM3
MBIP	EIF2AK2
MBIP	MKRN1
MBIP	STYX
MBNL1	MTA3
MBNL1	PARD6B
MBOAT2	LAP3
MCM3AP	B4GALNT4
MCM3AP	NACAD
MCM9	PLXNB2
MCTS1	MED28
MDP1	MAGI2
MECP2	C5ORF43
MED12	EMC7
MED13	ENTPD1
MED16	HIP1R
MED28	MCTS1
MED8	ADAMTS10
MEF2BNB	KRI1
METT10D	H1FX
METTL2A	METTL2B
METTL2B	METTL2A
METTL8	CDH24
METTL8	PACRG
MEX3B	LYST
MEX3B	RER1
MFAP1	CSELI
MFAP1	GTPBP10
MFAP1	C20ORF74
MFN2	CDH24
MFN2	FTSJ3
MFN2	SP4
MFSD10	PPP5C
MFSD6	EDC4
MFSD6	KIAA1644
MFSD6	OS9
MFSD6	PPRC1
MICAL3	FANCM
MICAL3	HAUS2
MIDN	GOLIM4
MIER3	NXPH4
MIF	BCL11A
MIF	POTEE
MKKS	SNX1
MKRN1	MBIP
MLF2	DCUN1D5
MLH1	AKAP1
MLXIP	HNRNPUL2
C6ORF167	RBL2
MOBKL3	HSPE1-MOBKL3
MOCS2	TBC1D19
MORC2L	FAM73A
MORF4L2	HDAC8
MPDU1	LIMK2
MPDU1	PACRG
MPG	MRPL11
MPHOSPH9	ABCC10
MPHOSPH9	GPBP1L1
MPI	C15ORF17
MPP2	IFNAR1
MPP6	GAB2
MRPL10	FAXC
MRPL11	MPG
MRPL16	RORB
MRPL24	PRMT7
MRPL35	NBPF15
MRPL35	PCCB
MRPL36	CXCR5
MRPL38	C16ORF13
MRPL41	GDE1
MRPL41	HSPBP1
MRPL41	PCBP4
MRPS18B	MRPS27
MRPS2	RMDN1
MRPS22	RMND5B
MRPS22	SP3
MRPS27	MRPS18B
MRPS28	FAM104B
MRPS31	FGD1
MRPS35	ELAVL4
MRPS7	PAK1
MSH3	ARHGEF40
MSH3	STARD3NL
MSI2	PPP6R2
MSI2	TACC2
MT1X	MUDENG
MTA3	MBNL1
MTAP	EIF4G1
MTAP	KATNB1
MTCL1	FASTKD2
MTERFD2	AKAP1
MTERFD2	ATP5SL
MTERFD2	CCDC117
MTFMT	ADAMTS10
MTFMT	POM121
MTFMT	PTPMT1
MTFMT	KIAA1219
MTHFD1L	CSNK1D
MTHFD1L	KIF22
MTMR6	ANKRD50
MTMR6	FER
MTO1	IGFBP5
MTO1	PPP2CB
MTRNR2L12	H3F3A
MTRNR2L12	HNRNPH1
MTRNR2L12	ITGB8
MTRNR2L12	MTRNR2L8
MTRNR2L12	NTM
MTRNR2L12	PTBP2
MTRNR2L12	PTPRS
MTRNR2L12	RASGEF1B
MTRNR2L12	ROBO2
MTRNR2L12	STMN4
MTRNR2L8	H3F3A
MTRNR2L8	HNRNPH1
MTRNR2L8	ITGB8
MTRNR2L8	MTRNR2L12
MTRNR2L8	NTM
MTRNR2L8	PTBP2
MTRNR2L8	PTPRS
MTRNR2L8	RASGEF1B
MTRNR2L8	ROBO2
MTRNR2L8	STMN4
MTRNR2L8	THSD7A
MTUS1	AGGF1
MTUS1	ALDH3A2
MTUS1	RAP1GAP2
MTX2	PANK4
MUT	FLRT1
MVD	FSD1
MYC	HNRNPU
MYD88	PCSK2
MYL12A	GUCY1A2
MYL12A	PIBF1
MYO10	DYM
MYO10	HMGXB3
MYO10	OPA1
MYO18A	PHF21B
MYO9B	CCDC123
N6AMT2	LRRC37A
LSMD1	LDLR
NAB2	EMC7
NACA	NACA2
NACA2	NACA
NACAD	HCN3
NACAD	MCM3AP
NAPB	PEF1
NAPEPLD	APEH
NAPEPLD	C5ORF42
NBPF10	ATP1A1
NBPF10	COA6
NBPF10	NBPF14
NBPF10	NBPF8
NBPF11	NBPF12
NBPF11	QTRT1
NBPF12	CRAT
NBPF12	GUSB
NBPF12	NBPF11
NBPF14	CENPF
NBPF14	NBPF10
NBPF14	NBPF8
NBPF14	NBPF9
NBPF15	MRPL35
NBPF15	NCAPD3
NBPF8	NBPF10
NBPF8	NBPF14
NBPF9	ABHD17C
NBPF9	FKBP11
NBPF9	NBPF14
NBPF9	SMIM4
NCAM2	ADAMTS10
NCAPD3	NBPF15
NCAPD3	SULT1A3
NCDN	AHSA2
NCK1	KLHL32
NCKAP5	RFXANK
NCKAP5	SERTAD3
NCKAP5	SH3BP2
NCKAP5	SIMC1
NCOA2	DLG3
NCCDC56	C17ORF80
NDEL1	CAB39
NDEL1	FAM53C
NDFIP2	ABCF2
NDFIP2	ATPAF2
NDST4	SLC36A4
NDUFB4	PKIA
NEK3	LDOC1L
NEK9	FAM89B
NELL2	TATDN1
NETO2	C12orf49
NEUROD1	RASGEF1B
NFE2L1	AP4E1
NFIC	CDK20
NFIC	RERE
NFX1	KIF22
NFX1	LGALSL
NFX1	LRRC37A
NFYB	GABRA3
NGFRAP1	CDKL1
NGLY1	SLC30A7
NHLH1	NKAIN4
NHLH1	SNRPA
NHLH2	JUND
NIN	PTBP2
NIPA2	PTPRD
NIT1	GDE1
NKAIN4	NHLH1
NKAIN4	SPDYE2
NKAIN4	SPDYE2B
NLGN1	PIGF
NLGN2	KLHDC5
NLGN2	TIMM9
NME3	COPS7A
NME3	ELMOD2
NME4	PGS1
NME4	SEMA4C
NME6	FLYWCH2
NME6	GPBP1L1
NOL11	EXTL2
NOL4	CCDC21
NOL8	DERL1
NOMO1	DLG2
NOMO1	NOMO2
NOMO1	NOMO3
NOMO1	SFMBT1
NOMO2	NOMO1
NOMO2	NOMO3
NOMO3	NOMO1
NOMO3	NOMO2
NOP10	ST13
NOP16	SLC2A1
NOP2	PEF1
NOVA1	DDX25
NOVA1	SFRS6
NPC1	C16ORF62
NPC1	CEP164
NPDC1	H2AFY2
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA1	NPIPA5
NPIPA1	NPIPA7
NPIPA1	NPIPA8
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA2	NPIPA5
NPIPA2	NPIPA7
NPIPA2	NPIPA8
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA3	NPIPA5
NPIPA3	NPIPA7
NPIPA3	NPIPA8
NPIPA5	NPIPA1
NPIPA5	NPIPA2
NPIPA5	NPIPA3
NPIPA5	NPIPA7
NPIPA5	NPIPA8
NPIPA7	NPIPA1
NPIPA7	NPIPA2
NPIPA7	NPIPA3
NPIPA7	NPIPA5
NPIPA7	NPIPA8
NPIPA8	NPIPA1
NPIPA8	NPIPA2
NPIPA8	NPIPA3
NPIPA8	NPIPA5
NPIPA8	NPIPA7
NPIPB11	NPIPL3
NPIPB11	NPIPB4
NPIPB15	JMJD7-PLA2G4B
NPIPB15	RNF44
NPIPL3	NPIPB11
NPIPL3	NPIPB4
NPIPL3	NPIPB5
NPIPB4	NPIPB11
NPIPB4	NPIPL3
NPIPB4	NPIPB5
NPIPB5	NPIPL3
NPIPB5	NPIPB4
NPM1	KIAA0746
NQO2	CEP104
NR4A3	KIAA0141
NR4A3	LRP1
NRBP1	POU2F1
C5ORF13	ASCC1
C5ORF13	CRELD2
NRN1	MAP1S
NRSN1	FAM92A1
NRSN1	GCN1L1
NRSN1	SOCS4
NRSN2	BBS1
NRXN1	CDC123
NSA2	DIS3L2
NSD1	CLIC4
NSMCE4A	MAP1LC3B2
NSMCE4A	PEX5
NSMF	GTPBP10
NSMF	SLC25A44
NSUN5	HIRA
NT5C3L	APOA1BP
NTM	MTRNR2L12
NTM	MTRNR2L8
NTMT1	ALKBH3
NUBP2	C17ORF62
NUBPL	CNNM2
NUBPL	DDX26B
NUDCD3	DDR1
NUDT3	FLRT1
NUDT9	C18ORF55
NUFIP2	BRWD3
NUFIP2	DOK6
NUMBL	MAST2
NUP153	SFMBT1
NUP88	ABHD17C
NXF1	DNAJC2
NXPE3	C4orf48
NXPE3	KIAA1045
NXPH4	MIER3
NYAP2	CCBL1
OAT	B4GALT7
OAT	GTF3C1
OCLM	SLC30A7
OGFOD1	AKAP11
OLFM2	C6orf89
OLFM2	GCN1L1
OPA1	HMGXB3
OPA1	MYO10
OPN1SW	RECQL
ORC6L	CACNB4
ORC6L	COX6A1
OS9	MFSD6
OSBP	ATP1A3
OSBPL9	SLC25A37
OXA1L	GNPTG
P4HA1	DUSP18
P4HA1	RUNX1T1
PAAF1	TADA2A
PABPC1	PABPC3
PABPC3	PABPC1
PABPC4	GCFC2
PACRG	LRRIQ1
PACRG	METTL8
PACRG	MPDU1
PACS1	AHCY
PACS1	HOMER1
PACS1	RAD51C
PACS1	SETX
PACSIN2	RDH13
PAFAH1B2	KIAA0907
PAICS	RBM48
PAIP2B	CTNNBIP1
PAIP2B	DGKD
PAK1	MRPS7
PANK4	MTX2
PARD6B	MBNL1
PARK7	KIAA0746
PARL	BBS2
PATZ1	PEX3
PAX6	GATS
PC	CACNA1B
PC	PMEPA1
PCBP4	ATL2
PCBP4	CDH4
PCBP4	MRPL41
PCBP4	PSENEN
PCCB	HIP1R
PCCB	MRPL35
PCCB	SOS2
PCDH11X	PCDH11Y
PCDH11Y	PCDH11X
PCDHB2	FHOD3
PCDHB2	LRIF1
PCDHGA10	SNRNP25
PCGF2	CISD3
PCNX	ACAD10
PCNXL2	HN1L
PCSK1N	CCDC137
PCSK2	MYD88
PDE10A	EEA1
PDE10A	GDE1
PDE12	HOOK2
PDE12	REPS1
PDGFA	EDC4
PDGFA	PPRC1
PDXK	GTF2IRD1
PEF1	NAPB
PEF1	NOP2
PEF1	SLC25A23
PEPD	LARP1B
PET100	DNAJB11
PET117	CNTFR
PET117	DNAAF2
PEX3	PATZ1
PEX5	FEM1A
PEX5	NSMCE4A
PFN1	DBN1
PGAM1	PGAM4
PGAM4	PGAM1
PGLS	DHCR7
PGRMC2	ANKRD13C
PGS1	NME4
PHF21B	MYO18A
PIBF1	MYL12A
PIGF	NLGN1
PIGG	B4GALT2
PIGG	SULF2
PIGK	SOD2
PIGL	AP4E1
PIGQ	GPD2
PIGY	PYURF
PIK3C3	HARS2
PIK3CA	ABAT
PIN1	SRCAP
PINK1	CARD8
PISD	GNG10
PITPNA	ATP13A2
PITPNA	PNRC1
PITPNC1	CLIP2
PITPNC1	POMT1
PKIA	NDUFB4
PKIG	PRKX
PKN2	DYM
PLAA	FUT8
PLCH1	FBXO31
PLCH1	KLC4
PLCH1	6-Mar
PLCXD1	RNF113A
PLLP	ARL2BP
PLLP	SURF4
PLXNA1	B3GALT2
PLXNA1	GSTCD
PLXNB2	GPR125
PLXNB2	MCM9
PLXNB2	SEMA4C
PMEPA1	BAI2
PMEPA1	PC
PMEPA1	PPP5C
PMEPA1	5-Sep
PMM1	C3ORF38
PMM1	CD276
PMPCA	BAG5
PMS1	GTF3C5
PMS1	IGHMBP2
PMS1	KPNA2
PNRC1	PITPNA
PNRC2	RHOB
POLE3	AFF4
POLI	GPR89A
POLR2J	POLR2J2
POLR2J2	POLR2J
POLR2J2	POLR2J3
POLR2J3	POLR2J2
POLR3F	DUSP18
POM121	EIF4G1
POM121	GABRA3
POM121	MTFMT
POM121C	DMD
POMP	HIGD1A
POMT1	PITPNC1
POT1	CLSTN1
POTEE	ACTB
POTEE	MIF
POTEE	POTEI
POTEE	POTEJ
POTEE	PTMA
POTEE	PTPRS
POTEI	ACTB
POTEI	ATP6V0C
POTEI	POTEE
POTEI	POTEJ
POTEJ	ACTB
POTEJ	CBX1
POTEJ	POTEE
POTEJ	POTEI
POTEJ	PTMA
POTEJ	PTPRS
POU2F1	CORO7
POU2F1	NRBP1
PPA2	CLPX
PPFIA1	IDE
PPIE	ETFB
PPIL1	KBTBD7
PPM1B	IKZF5
PPM1E	FLYWCH1
PPP1R16B	FKBP1B
PPP1R16B	SLC17A5
PPP1R17	PTPRS
PPP1R18	KRCC1
PPP1R18	RCE1
PPP1R18	SLC25A16
PPP2CB	IGFBP5
PPP2CB	MTO1
PPP2R4	SCUBE3
PPP3CB	SAMD4B
PPP4C	CLTB
PPP5C	MFSD10
PPP5C	PMEPA1
PPP6R2	MSI2
PPRC1	MFSD6
PPRC1	PDGFA
PRC1	CHGA
PRC1	FASN
PRC1	SEZ6L
PRDM2	HCFC1
PRDX1	DHRS1
PRDX1	INHBA
PRDX1	SATB2
PRDX4	ANKS1B
PRELID1	GRHPR
PRELID1	LRRN1
PRH1	IGFBP2
PRKAA2	C17ORF42
PRKAG1	SLC4A10
PRKD1	EPB41L5
PRKX	PKIG
PRMT7	MRPL24
PRMT7	SLC35A5
PROSC	CSNK1A1L
PRPF3	ABCA1
PRPF31	CDK5
PRPF40B	RAB3C
PRRC2A	CEBPZOS
PRRT2	KAT5
PC20ORF43	RANBP2
PRUNE	GDPD1
PSAT1	CLCN4
PSD3	GNA11
PSD3	SLAIN1
PSENEN	PCBP4
PSMC1	SRSF11
PSMD10	KCTD12
PSME3	FAM193B
PSME4	FH
PSME4	ISG20L2
PTBP2	MTRNR2L12
PTBP2	MTRNR2L8
PTBP2	NIN
PTBP2	PTPRS
TMED10	RAP2B
PTGR2	BIVM
PTMA	ACTB
PTMA	POTEE
PTMA	POTEJ
PTPMT1	GADD45G
PTPMT1	MTFMT
PTPN9	HOOK2
PTPRD	NIPA2
PTPRS	ACTB
PTPRS	MTRNR2L12
PTPRS	MTRNR2L8
PTPRS	POTEE
PTPRS	POTEJ
PTPRS	PPP1R17
PTPRS	PTBP2
PTPRS	RASGEF1B
PTRH2	AP000275.65
PTRH2	STAMBP
PUM1	DDX19B
PUS7	CCNK
PUS7	IGFBP5
PXDN	B4GALNT4
PXDN	SCAMP5
PYGB	LPHN1
PYURF	PIGY
QTRT1	NBPF11
QTRT1	SYNDIG1
RAB1B	DCLK2
RAB1B	C14ORF43
RAB1B	RCOR2
RAB33A	CDC42BPB
RAB3C	PRPF40B
RAB3C	SFXN2
RAB3GAP2	APBB2
RAB6A	RAB6C
RAB6C	RAB6A
RABGAP1L	ATP9B
RABGGTB	DTWD1
RABL2A	GDPD5
RABL2A	RABL2B
RABL2B	RABL2A
RAD17	ABCF2
RAD51C	AHCY
RAD51C	PACS1
RALB	ATXN7L1
RALB	KCMF1
RALBP1	HAUS2
RALBP1	SAAL1
C20ORF74	MFAP1
KIAA1219	MTFMT
RAN	HDX
RANBP2	PC20ORF43
RAP1GAP2	AGGF1
RAP1GAP2	CNNM2
RAP1GAP2	DDX3Y
RAP1GAP2	LARP1B
RAP1GAP2	MTUS1
RAP2B	TMED10
RASGEF1B	DLG2
RASGEF1B	HNRNPH1
RASGEF1B	MTRNR2L12
RASGEF1B	MTRNR2L8
RASGEF1B	NEUROD1
RASGEF1B	PTPRS
RASGRP1	IREB2
RASSF1	CDC34
RB1	ERP44
RBCK1	LRRC58
RBFOX3	RUSC2
RBL2	C6ORF167
RBM10	SPPL2A
RBM15B	RGPD2
RBM18	ATXN7
RBM19	CCDC104
RBM27	APBB3
RBM42	C20orf27
RBM42	CLPTM1
RBM48	PAICS
RBM8A	C14ORF39
RCAN1	KDM5C
RCBTB1	AGPAT6
RCBTB2	STXBP4
RCE1	PPP1R18
RCHY1	DGCR2
RCHY1	SEMA6C
RCOR2	RAB1B
RDH13	PACSIN2
RECQL	OPN1SW
REPS1	PDE12
RER1	MEX3B
RERE	NFIC
REXO2	DIEXF
RFC2	SNX1
RFK	SLIT1
RFWD3	C5ORF24
RFX2	COMMD5
RFX7	LAP3
RFX7	SACS
RFXANK	NCKAP5
RGMB	C19ORF50
RGPD1	C6ORF108
RGPD1	HK1
RGPD1	RGPD2
RGPD1	SAV1
RGPD2	RBM15B
RGPD2	RGPD1
RGPD2	RGPD4
RGPD3	RGPD4
RGPD4	C6ORF108
RGPD4	RGPD2
RGPD4	RGPD3
RGPD5	RGPD6
RGPD5	RGPD8
RGPD6	RGPD5
RGPD6	RGPD8
RGPD8	RGPD5
RGPD8	RGPD6
RGS6	DYNC1I1
RGS6	SELI
RHOB	MAP2K4
RHOB	PNRC2
RIT1	DCLK2
RMDN1	MRPS2
RMND5A	SMPD3
RMND5B	MRPS22
RNASEH2B	ENTPD1
RNASEH2C	ARL5B
RNF103	DISP2
RNF103	RUSC2
RNF111	HIST2H4A
RNF111	HIST2H4B
RNF113A	PLCXD1
RNF115	KIAA0930
RNF138	C1ORF212
RNF139	CDKL1
RNF144A	GTPBP10
RNF167	CBLL1
RNF170	DDX56
RNF185	APBA1
RNF19A	DDR1
RNF44	CERK
RNF44	CKAP4
RNF44	CNTN2
RNF44	JMJD7-PLA2G4B
RNF44	KDELR1
RNF44	KRI1
RNF44	NPIPB15
RNF44	SLC7A6OS
RNF7	SH3BGRL2
RNGTT	AS3MT
RNH1	CSNK2A3
ROBO2	MTRNR2L12
ROBO2	MTRNR2L8
ROBO2	STMN4
ROBO2	THSD7A
RORB	MRPL16
RRP1B	ABCA1
RRP1B	ADSS
RRP1B	SLC7A6
RRP1B	SMCHD1
RTN4	DIEXF
RUNX1T1	P4HA1
RUSC2	C10orf35
RUSC2	RBFOX3
RUSC2	RNF103
SAAL1	RALBP1
SACS	ENTPD4
SACS	RFX7
SAMD1	DDX52
SAMD4B	PPP3CB
SAP130	GALT
SART3	GABRA3
SATB1	EMC7
SATB2	AP3S2
SATB2	INHBA
SATB2	LRIG2
SATB2	PRDX1
SAV1	RGPD1
SAV1	SRRP35
SBF2	IRAK1BP1
SFRS15	DIS3
SCAMP5	CCDC21
SCAMP5	PXDN
SCAND1	IGHMBP2
SCLT1	AAMP
SCN8A	ATP5L2
SCN8A	CDC42BPB
SCN8A	CHST15
SCRG1	FLYWCH1
SCRG1	TIMM44
SCUBE3	PPP2R4
SCYL2	C20ORF4
SDAD1	SLC33A1
SDC3	CDC42BPB
SEC22A	ADAMTS5
SEC61A2	ERO1LB
KIAA0746	DHRS1
KIAA0746	INHBA
KIAA0746	NPM1
KIAA0746	PARK7
SELO	EIF2B4
SELO	FLRT1
SEMA4C	CSNK1A1
SEMA4C	GIT1
SEMA4C	MAST1
SEMA4C	NME4
SEMA4C	PLXNB2
SEMA5B	CACNA1B
SEMA6C	RCHY1
SENP2	HDGF
SENP2	SLX1A
5-Sep	CD320
5-Sep	CDC37
5-Sep	HSD17B10
5-Sep	PMEPA1
SERF1A	SERF1B
SERF1B	SERF1A
SERINC2	C2ORF24
SERINC5	ADNP
SERP2	DDX3Y
SERTAD3	NCKAP5
SETD4	CERK
SETD4	GRINA
SETX	C12orf5
SETX	PACS1
SEZ6L	PRC1
SF3B2	ALG14
SFMBT1	NOMO1
SFMBT1	NUP153
SFRP1	C12ORF62
SFRP1	FBXO7
SFT2D2	CACNB4
SFXN2	HDAC8
SFXN2	RAB3C
SFXN3	LRRC49
SFXN3	SNX30
SH3BGRL2	RNF7
SH3BP2	NCKAP5
SHF	CDH4
SHMT2	BIN3
SIGIRR	CENPF
SIK1	CH507-42P11.8
SIK1	COG6
SIMC1	CMTR2
SIMC1	NCKAP5
SLAIN1	CCBL2
SLAIN1	GNA11
SLAIN1	PSD3
SLAIN2	LRRN3
SLC17A5	PPP1R16B
SLC1A3	BOLA3
SLC20A2	SLC23A2
SLC22A5	DDX5
SLC23A2	EBAG9
SLC23A2	SLC20A2
SLC25A16	PPP1R18
SLC25A23	PEF1
SLC25A29	GPBP1L1
SLC25A37	CCDC49
SLC25A37	OSBPL9
SLC25A44	NSMF
SLC26A10	B4GALNT1
SLC2A1	ANP32B
SLC2A1	CCDC21
SLC2A1	NOP16
SLC2A3	AKAP1
SLC30A7	NGLY1
SLC30A7	OCLM
SLC33A1	SDAD1
SLC35A3	BBS1
SLC35A3	CHRDL1
SLC35A5	EPB41L1
SLC35A5	PRMT7
SLC36A4	NDST4
SLC38A6	EEF1E1
SLC38A6	FGD4
SLC3A1	ADSS
SLC3A1	ATP11A
SLC3A1	HOMER1
SLC3A1	SLC7A6
SLC44A1	GPR89A
SLC4A10	PRKAG1
SLC5A2	C16orf58
SLC6A6	GNL1
SLC6A6	MAST2
SLC7A6	RRP1B
SLC7A6	SLC3A1
SLC7A6OS	GIT1
SLC7A6OS	RNF44
SLC9A6	C5ORF30
SLCO5A1	FJX1
SLIT1	RFK
SLK	HIATL1
SLX1A	FEM1A
SLX1A	SENP2
SMCHD1	ADSS
SMCHD1	RRP1B
SMEK2	HMBS
C1ORF212	RNF138
C5ORF43	MECP2
SMIM4	NBPF9
SMIM4	TBC1D9
SMN1	SMN2
SMN2	SMN1
SMPD3	RMND5A
SMPD4	FASN
SMYD4	CLDN12
SNAP47	FAM134A
SNCB	KIAA1045
SND1	ATP13A2
SNRNP25	PCDHGA10
SNRPA	NHLH1
SNUPN	GAB2
SNX1	MKKS
SNX1	RFC2
RUNDC2A	C3ORF17
RUNDC2A	MAP7D2
SNX30	SFXN3
SOCS4	NRSN1
SOD2	PIGK
C6ORF174	LRCH3
SOS2	PCCB
SP3	ELMOD2
SP3	MRPS22
SP4	MFN2
SPATA7	CTSB
SPDYA	GALNT1
SPDYA	TBC1D1
SPDYE2	KIF20B
SPDYE2	NKAIN4
SPDYE2	SPDYE2B
SPDYE2B	GPBP1L1
SPDYE2B	KIF20B
SPDYE2B	NKAIN4
SPDYE2B	SPDYE2
SPIDR	C16ORF62
SPINT2	LRCH3
SPNS2	GEMIN8
SPPL2A	RBM10
SQSTM1	ADAT2
SQSTM1	ATP9B
SRCAP	IFNGR1
SRCAP	MAP1A
SRCAP	PIN1
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2B
SRR	C16ORF62
SRSF11	PSMC1
SRRP35	SAV1
SFRS6	ASCC1
SFRS6	GNA11
SFRS6	NOVA1
SSNA1	DTD1
SSNA1	SYF2
ST13	NOP10
ST3GAL2	LHX2
ST3GAL2	SURF4
STAG3L5P-PVRIG2P-PILRB	CMC1
STAG3L5P-PVRIG2P-PILRB	THAP3
STAMBP	PTRH2
STARD3NL	MSH3
STARD4	FARSA
STAT3	IGFBP5
STK25	DCHS1
STMN1	CALM2
STMN1	GAPDH
STMN4	H3F3A
STMN4	MTRNR2L12
STMN4	MTRNR2L8
STMN4	ROBO2
STOM	EIF2C3
STOML2	HIPK1
STRAP	CRIP2
FAM40A	LARP4B
STXBP4	RCBTB2
STYX	EIF2AK2
STYX	LMBR1L
STYX	MBIP
SULF2	PIGG
SULT1A3	C9ORF89
SULT1A3	EFNA5
SULT1A3	NCAPD3
SULT1A3	SULT1A4
SULT1A4	C9ORF89
SULT1A4	DUSP18
SULT1A4	SULT1A3
SUPT7L	AAMP
SUPV3L1	ACOT13
SURF1	C12orf49
SURF1	ERCC8
SURF4	ARL2BP
SURF4	PLLP
SURF4	ST3GAL2
SUZ12	DIEXF
SUZ12	C10ORF4
SVIL	GTF2IRD2
SVOP	CELF3
SVOP	TBC1D13
SYAP1	ARL6IP6
SYF2	SSNA1
SYNDIG1	QTRT1
SYNGAP1	ITFG3
SYS1	ABAT
TACC2	FDFT1
TACC2	MSI2
TADA2A	PAAF1
TAF1B	HEXIM1
TAF2	GMPR2
TATDN1	NELL2
TATDN2	EEF1A2
TATDN2	MAPK8IP3
TBC1D1	SPDYA
TBC1D13	AP2A2
TBC1D13	GMFB
TBC1D13	SVOP
TBC1D19	MOCS2
TBC1D30	AVL9
TBC1D8	C8ORF33
TBC1D9	SMIM4
TCEA1	THAP3
TCEA2	ANKRD52
C17ORF42	PRKAA2
TEX2	GOLM1
TEX2	HEATR5B
TFIP11	CACNA1H
THAP3	STAG3L5P-PVRIG2P-PILRB
THAP3	TCEA1
THAP3	THTPA
THOC5	CSGALNACT2
THOC5	GTF3C4
THSD7A	MTRNR2L8
THSD7A	ROBO2
THTPA	ADCY3
THTPA	THAP3
TIMM17A	5-Mar
C18ORF55	NUDT9
TIMM44	SCRG1
TIMM9	FBXL3
TIMM9	NLGN2
