ACTB	POTEE
ACTB	POTEI
ACTB	POTEJ
AGAP8	AGAP6
AGAP6	AGAP8
AHCY	PACS1
ARL17P1	ARL17B
ARL17B	ARL17P1
B4GALNT1	SLC26A10
BOLA2	BOLA2B
BOLA2B	BOLA2
C16orf58	SLC5A2
C21orf33	CH507-9B2.3
CBWD1	CBWD3
CBWD3	CBWD1
CBWD3	CBWD5
CBWD3	CBWD7
CBWD5	CBWD3
CBWD5	CBWD7
CBWD7	CBWD3
CBWD7	CBWD5
CCZ1	CCZ1B
CCZ1B	CCZ1
CH507-42P11.8	SIK1
CH507-9B2.3	C21orf33
CISD3	PCGF2
COMMD3	COMMD3-BMI1
COMMD3-BMI1	COMMD3
CXORF40A	CXorf40B
CXorf40B	CXORF40A
EIF3C	EIF3CL
EIF3CL	EIF3C
C15ORF17	MPI
FAM21A	FAM21C
FAM21C	FAM21A
FKBP1A	FKBP1C
FKBP1C	FKBP1A
GOLGA6L10	GOLGA6L4
GOLGA6L10	GOLGA6L9
GOLGA6L4	GOLGA6L10
GOLGA6L4	GOLGA6L9
GOLGA6L9	GOLGA6L10
GOLGA6L9	GOLGA6L4
GOLGA8A	GOLGA8B
GOLGA8B	GOLGA8A
GPR89A	GPR89B
GPR89B	GPR89A
GSTM1	GSTM2
GSTM2	GSTM1
GTF2IRD2	GTF2IRD2B
GTF2IRD2B	GTF2IRD2
H3F3B	H3F3C
H3F3C	H3F3B
HIST2H4A	HIST2H4B
HIST2H4B	HIST2H4A
INHBA	SATB2
JMJD7-PLA2G4B	NPIPB15
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MPI	C15ORF17
MTRNR2L12	MTRNR2L8
MTRNR2L12	RASGEF1B
MTRNR2L8	MTRNR2L12
MTRNR2L8	RASGEF1B
NBPF11	NBPF12
NBPF12	NBPF11
NOMO1	NOMO2
NOMO1	NOMO3
NOMO2	NOMO1
NOMO2	NOMO3
NOMO3	NOMO1
NOMO3	NOMO2
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA1	NPIPA5
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA2	NPIPA5
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA3	NPIPA5
NPIPA5	NPIPA1
NPIPA5	NPIPA2
NPIPA5	NPIPA3
NPIPA7	NPIPA8
NPIPA8	NPIPA7
NPIPB15	JMJD7-PLA2G4B
NPIPL3	NPIPB4
NPIPL3	NPIPB5
NPIPB4	NPIPL3
NPIPB4	NPIPB5
NPIPB5	NPIPL3
NPIPB5	NPIPB4
PABPC1	PABPC3
PABPC3	PABPC1
PACS1	AHCY
PCDH11X	PCDH11Y
PCDH11Y	PCDH11X
PCGF2	CISD3
PGAM1	PGAM4
PGAM4	PGAM1
PIGY	PYURF
POTEE	ACTB
POTEE	POTEI
POTEE	POTEJ
POTEI	ACTB
POTEI	POTEE
POTEI	POTEJ
POTEJ	ACTB
POTEJ	POTEE
POTEJ	POTEI
PYURF	PIGY
RASGEF1B	MTRNR2L12
RASGEF1B	MTRNR2L8
RGPD1	RGPD2
RGPD2	RGPD1
RGPD3	RGPD4
RGPD4	RGPD3
RGPD5	RGPD6
RGPD5	RGPD8
RGPD6	RGPD5
RGPD6	RGPD8
RGPD8	RGPD5
RGPD8	RGPD6
SATB2	INHBA
SERF1A	SERF1B
SERF1B	SERF1A
SIK1	CH507-42P11.8
SLC26A10	B4GALNT1
SLC5A2	C16orf58
SMN1	SMN2
SMN2	SMN1
SPDYE2	SPDYE2B
SPDYE2B	SPDYE2
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2B
SULT1A3	SULT1A4
SULT1A4	SULT1A3
