ACTB	POTEE
ACTB	POTEJ
BOLA2	BOLA2B
BOLA2B	BOLA2
C21orf33	CH507-9B2.3
CBWD3	CBWD7
CBWD7	CBWD3
CCNI2	8-Sep
CH507-9B2.3	C21orf33
CXORF40A	CXorf40B
CXorf40B	CXORF40A
EIF3C	EIF3CL
EIF3CL	EIF3C
FAM21A	FAM21C
FAM21C	FAM21A
FKBP1A	FKBP1C
FKBP1C	FKBP1A
GOLGA6L10	GOLGA6L4
GOLGA6L4	GOLGA6L10
GPR89A	GPR89B
GPR89B	GPR89A
GSTM1	GSTM2
GSTM2	GSTM1
GTF2H2	GTF2H2C
GTF2H2C	GTF2H2
H3F3B	H3F3C
H3F3C	H3F3B
HIST2H4A	HIST2H4B
HIST2H4B	HIST2H4A
HSPE1-MOBKL3	MOBKL3
LRRC37A	LRRC37A2
LRRC37A2	LRRC37A
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MOBKL3	HSPE1-MOBKL3
NOMO1	NOMO2
NOMO1	NOMO3
NOMO2	NOMO1
NOMO2	NOMO3
NOMO3	NOMO1
NOMO3	NOMO2
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA1	NPIPA5
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA5	NPIPA1
NPIPA7	NPIPA8
NPIPA8	NPIPA7
NPIPL3	NPIPB5
NPIPB5	NPIPL3
PABPC1	PABPC3
PABPC3	PABPC1
POLR2J	POLR2J2
POLR2J2	POLR2J
POTEE	ACTB
POTEE	POTEJ
POTEI	POTEJ
POTEJ	ACTB
POTEJ	POTEE
POTEJ	POTEI
RGPD6	RGPD8
RGPD8	RGPD6
8-Sep	CCNI2
SERF1A	SERF1B
SERF1B	SERF1A
SLX1A	SLX1A-SULT1A3
SLX1A	SLX1B
SLX1A-SULT1A3	SLX1A
SLX1A-SULT1A3	SLX1B
SLX1B	SLX1A
SLX1B	SLX1A-SULT1A3
SMN1	SMN2
SMN2	SMN1
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2B
