ABCD3	AP1S2
ACER3	IQSEC1
ACTB	POTEE
ACTB	POTEI
ACTB	POTEJ
AFAP1	RPUSD3
AGAP10	CDK17
AGAP10	EXOC6B
AGAP8	AGAP6
AGAP6	AGAP8
AIFM1	ARMC10
AK2	DCHS1
AKR1C2	AKR1C3
AKR1C3	AKR1C2
AMOTL1	SETMAR
AP1S2	ABCD3
AP1S2	NIPA2
AP3S2	C15orf38-AP3S2
AP3S2	DECR1
AP3S2	SEC24A
ARF4	NDUFA1
ARFGAP3	SLX1A
ARHGAP12	SLC6A6
ARHGAP20	KCNG1
ARHGAP20	C2ORF56
ARID3B	DPP6
ARL17P1	ARL17B
ARL17B	ARL17P1
ARMC10	AIFM1
ARMC10	CHCHD7
ARMC9	TIMM50
ARPC4	NDUFB11
ARSB	SMIM20
ASRGL1	FMN2
ATG3	DVL3
ATN1	DUS1L
ATP5E	ATP5EP2
ATP5EP2	ATP5E
ATP9B	PRELID1
ATPAF2	LRRC48
AIP	RGMB
B4GALT1	HUNK
BBS9	MFSD8
BCL11A	DYNLL1
BCR	RLIM
BET1	HYOU1
BEX5	SESN1
BIRC2	5-Sep
BOLA2	BOLA2B
BOLA2B	BOLA2
C11orf1	GLE1
C12orf49	SCUBE1
C15orf38-AP3S2	AP3S2
C17orf85	KDM6B
C21orf33	CH507-9B2.3
C21ORF59	MCM7
C2orf80	NKAIN2
CACNB3	ISYNA1
CADM4	C18ORF19
CALM2	H3F3B
CALM2	HNRNPH1
CALM2	STMN1
CAMSAP3	STX6
CAPN1	DESI1
CAPNS1	FRS2
CASC10	MTHFR
CBWD1	CBWD2
CBWD1	CBWD3
CBWD1	CBWD5
CBWD2	CBWD1
CBWD2	CBWD3
CBWD3	CBWD1
CBWD3	CBWD2
CBWD3	CBWD5
CBWD3	CBWD7
CBWD5	CBWD1
CBWD5	CBWD3
CBWD5	CBWD7
CBWD7	CBWD3
CBWD7	CBWD5
CBX5	PRDX2
CCAR2	SSR3
CCDC107	FAM86B1
CCDC132	HIF1AN
C3ORF19	FAM156A
CCDC93	TCEAL5
CCNDBP1	GNPDA1
CCNI2	8-Sep
CCZ1	CCZ1B
CCZ1B	CCZ1
CDC27	HIPK3
CDK17	AGAP10
CDKN1B	MIB1
CECR5	GABARAPL1
CECR5	RNF122
CFL1	NNAT
CH507-9B2.3	C21orf33
CHCHD3	EEF1G
CHCHD7	ARMC10
CHD4	OSBPL10
CHGA	FRRS1L
CHML	PPM1B
CKS2	DDX58
CLCN6	SESN1
CLDN12	MTHFR
CLDN12	SLC20A1
CLGN	IRS2
CLPP	PSD3
COMMD3	COMMD3-BMI1
COMMD3-BMI1	COMMD3
COMT	C9ORF30
COQ3	MLLT1
CORO7	RGPD3
CPNE6	C5ORF43
CSNK2A1	CSNK2A3
CSNK2A3	CSNK2A1
DULLARD	TAZ
CXORF40A	CXorf40B
CXorf40B	CXORF40A
CYB5R4	MKKS
DCHS1	AK2
DDR1	RAD18
DDT	DDTL
DDTL	DDT
DDX58	CKS2
DECR1	AP3S2
DEGS1	EFNA3
DESI1	CAPN1
DGCR6	DGCR6L
DGCR6L	DGCR6
DGKI	FRMD4A
DHCR24	MOBKL2A
DHX57	IGSF8
DIP2C	METTL7A
DIP2C	RAB9A
DNAJB11	PET100
DOK4	PI4KB
DPP6	ARID3B
DUS1L	ATN1
DVL3	ATG3
DYNLL1	BCL11A
EEF1G	CHCHD3
EFNA3	DEGS1
EIF1	PTMA
EIF2B5	PRR14
EIF3C	EIF3CL
EIF3CL	EIF3C
EIF5A	EIF5AL1
EIF5AL1	EIF5A
EPC2	RBM48
EPHB2	GNAI2
ERCC6	MYCN
ERGIC1	STAMBP
ESF1	IFI27L1
ESYT2	RHOB
ETNK1	ISY1
EXOC6B	AGAP10
FAM120A	KLHL8
FAM156A	C3ORF19
FAM178A	IMMP1L
C18ORF19	CADM4
FAM21A	FAM21C
FAM21C	FAM21A
FAM86B1	CCDC107
FBL	HSCB
FBXO33	PDE9A
FH	FOXRED1
FKBP1A	FKBP1C
FKBP1C	FKBP1A
FMN2	ASRGL1
FOXRED1	FH
FRMD4A	DGKI
FRRS1L	CHGA
FRS2	CAPNS1
FUCA1	RABL3
FUT11	KDELR2
FUT8	PDCL
FXYD6	PEBP1
GABARAPL1	CECR5
GALK2	STRN4
GALNT8	PDE6D
GANAB	RGPD3
GDE1	KDM6B
GDE1	PAG1
GGCX	RBM14
GLE1	C11orf1
GNAI2	EPHB2
GNPDA1	CCNDBP1
GNPTG	MLF1
GOLGA6L10	GOLGA6L4
GOLGA6L10	GOLGA6L9
GOLGA6L4	GOLGA6L10
GOLGA6L4	GOLGA6L9
GOLGA6L9	GOLGA6L10
GOLGA6L9	GOLGA6L4
GOLGA7B	SNRNP70
GOLGA8A	GOLGA8B
GOLGA8B	GOLGA8A
GPR89A	GPR89B
GPR89B	GPR89A
GRINA	PKN1
GSTM1	GSTM2
GSTM2	GSTM1
GTF2H2	GTF2H2C
GTF2H2C	GTF2H2
H1FX	PRELID1
H3F3A	SUMO2
H3F3B	CALM2
H3F3B	H3F3C
H3F3C	H3F3B
HDAC9	C10ORF140
HDGFRP2	PDE1C
HEATR5B	TAZ
HGSNAT	2-Mar
HIF1AN	CCDC132
HIF1AN	AGXT2L2
HIPK3	CDC27
HIPK3	TIMM23B
HKIAA0174H1E	PHF2
HIST2H4A	HIST2H4B
HIST2H4B	HIST2H4A
HNRNPA0	HNRNPH1
HNRNPA1	HNRNPA1L2
HNRNPA1L2	HNRNPA1
HNRNPH1	CALM2
HNRNPH1	HNRNPA0
HNRNPH1	MARCKS
HNRNPH1	STMN1
HSCB	FBL
HSPE1-MOBKL3	MOBKL3
HUNK	B4GALT1
HYOU1	BET1
ICT1	PRPF31
IFI27L1	ESF1
IGSF8	DHX57
IMMP1L	FAM178A
IQCK	MRI1
IQGAP1	MUTYH
IQSEC1	ACER3
IRS2	CLGN
IRS2	NBPF9
ISCA2	OTUD5
ISY1	ETNK1
ISYNA1	CACNB3
ISYNA1	N4BP2
PHF17	SLC5A3
KCNG1	ARHGAP20
KDELR2	FUT11
KDM6B	C17orf85
KDM6B	GDE1
KDM6B	PAG1
KIAA0141	TARSL2
KLHL8	FAM120A
LAMTOR1	C6ORF64
LGALS8	MXD1
LIMS1	PDZD8
LRRC37A	LRRC37A2
LRRC37A2	LRRC37A
LRRC48	ATPAF2
LYST	POLR2M
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MAP1LC3B	MAP1LC3B2
MAP1LC3B2	MAP1LC3B
MAP2	C5ORF13
MAP3K3	NRM
2-Mar	HGSNAT
MARCKS	HNRNPH1
MCM7	C21ORF59
MCPH1	MED24
MED16	SFI1
MED24	MCPH1
MEF2D	C2ORF56
METTL2A	METTL2B
METTL2B	METTL2A
METTL7A	DIP2C
MFSD8	BBS9
MIB1	CDKN1B
MKKS	CYB5R4
MKKS	RSU1
MLF1	GNPTG
MLLT1	COQ3
MOBKL2A	DHCR24
MOBKL3	HSPE1-MOBKL3
MOCS2	PICALM
MORF4L1	SRP14
MPP5	TBCC
MRI1	IQCK
MRPL46	PIH1D1
C9ORF30	COMT
MTHFR	CASC10
MTHFR	CLDN12
MTR	SMARCD3
MUTYH	IQGAP1
MXD1	LGALS8
MYCN	ERCC6
N4BP2	ISYNA1
NACA	NACA2
NACA2	NACA
NBPF10	NBPF14
NBPF10	NBPF9
NBPF11	NBPF12
NBPF12	NBPF11
NBPF14	NBPF10
NBPF9	IRS2
NBPF9	NBPF10
NDUFA1	ARF4
C2ORF56	ARHGAP20
C2ORF56	MEF2D
NDUFB11	ARPC4
NEK4	RANBP6
NFIA	NFIB
NFIB	NFIA
NFIB	PTPRS
NFIB	SOX4
NIPA2	AP1S2
NKAIN2	C2orf80
NNAT	CFL1
NOMO1	NOMO2
NOMO1	NOMO3
NOMO2	NOMO1
NOMO2	NOMO3
NOMO3	NOMO1
NOMO3	NOMO2
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA1	NPIPA5
NPIPA1	NPIPA7
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA2	NPIPA5
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA3	NPIPA5
NPIPA5	NPIPA1
NPIPA5	NPIPA2
NPIPA5	NPIPA3
NPIPA5	NPIPA7
NPIPA5	NPIPA8
NPIPA7	NPIPA1
NPIPA7	NPIPA5
NPIPA7	NPIPA8
NPIPA8	NPIPA5
NPIPA8	NPIPA7
NPIPB11	NPIPL3
NPIPB11	NPIPB5
NPIPL3	NPIPB11
NPIPL3	NPIPB4
NPIPL3	NPIPB5
NPIPB4	NPIPL3
NPIPB4	NPIPB5
NPIPB5	NPIPB11
NPIPB5	NPIPL3
NPIPB5	NPIPB4
NQO2	SLC38A7
C5ORF13	MAP2
C5ORF13	SAR1A
NRM	MAP3K3
NT5C2	SFI1
OSBPL10	CHD4
OTUD5	ISCA2
PABPC1	PABPC3
PABPC3	PABPC1
PAG1	GDE1
PAG1	KDM6B
PCGF1	PRPF6
PDCL	FUT8
PDE1C	HDGFRP2
PDE6D	GALNT8
PDE9A	FBXO33
PDZD8	LIMS1
PDZD8	RBCK1
PEBP1	FXYD6
PET100	DNAJB11
PGAM1	PGAM4
PGAM4	PGAM1
PHF2	HKIAA0174H1E
AGXT2L2	HIF1AN
PI4KB	DOK4
PICALM	MOCS2
PIH1D1	MRPL46
PKN1	GRINA
PLXNB2	PMF1
PMF1	PLXNB2
POLR2J	POLR2J2
POLR2J	POLR2J3
POLR2J2	POLR2J
POLR2J2	POLR2J3
POLR2J3	POLR2J
POLR2J3	POLR2J2
POLR2M	LYST
POTEE	ACTB
POTEE	POTEI
POTEE	POTEJ
POTEI	ACTB
POTEI	POTEE
POTEI	POTEJ
POTEJ	ACTB
POTEJ	POTEE
POTEJ	POTEI
PPCS	TARDBP
PPCS	TBCC
PPM1B	CHML
PPP4C	PTTG1IP
PRDX2	CBX5
PRELID1	ATP9B
PRELID1	H1FX
PRKRIR	TAF10
PRPF31	ICT1
PRPF6	PCGF1
PRR14	EIF2B5
PSD3	CLPP
PTMA	EIF1
PTMA	SRP14
PTPRS	NFIB
PTTG1IP	PPP4C
RAB9A	DIP2C
RABL2A	RABL2B
RABL2B	RABL2A
RABL3	FUCA1
RABL3	CYTSA
RAD18	DDR1
RAD52	SMARCD3
RANBP6	NEK4
RBCK1	PDZD8
RBM14	GGCX
RBM4	RBM4B
RBM48	EPC2
RBM4B	RBM4
RGMB	AIP
RGPD3	CORO7
RGPD3	GANAB
RGPD5	RGPD6
RGPD5	RGPD8
RGPD6	RGPD5
RGPD6	RGPD8
RGPD8	RGPD5
RGPD8	RGPD6
RHOB	ESYT2
RLIM	BCR
RNF122	CECR5
RPUSD3	AFAP1
RSU1	MKKS
SAR1A	C5ORF13
C6ORF64	LAMTOR1
SCMH1	SELM
SCUBE1	C12orf49
SEC24A	AP3S2
SELM	SCMH1
5-Sep	BIRC2
8-Sep	CCNI2
SERF1A	SERF1B
SERF1B	SERF1A
SESN1	BEX5
SESN1	CLCN6
SETD4	TCEAL3
SETMAR	AMOTL1
SEZ6L	SFI1
SFI1	MED16
SFI1	NT5C2
SFI1	SEZ6L
C10ORF140	HDAC9
SLC20A1	CLDN12
SLC38A7	NQO2
SLC5A3	PHF17
SLC6A6	ARHGAP12
SLX1A	ARFGAP3
SLX1A	SLX1A-SULT1A3
SLX1A	SLX1B
SLX1A-SULT1A3	SLX1A
SLX1A-SULT1A3	SLX1B
SLX1B	SLX1A
SLX1B	SLX1A-SULT1A3
SMARCD3	MTR
SMARCD3	RAD52
C5ORF43	CPNE6
SMIM20	ARSB
SMN1	SMN2
SMN2	SMN1
SNRNP70	GOLGA7B
SOX4	NFIB
CYTSA	RABL3
SRGAP2	SRGAP2B
SRGAP2	SRGAP2C
SRGAP2B	SRGAP2
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2
SRGAP2C	SRGAP2B
SRP14	MORF4L1
SRP14	PTMA
SSR3	CCAR2
STAMBP	ERGIC1
STMN1	CALM2
STMN1	HNRNPH1
STRN4	GALK2
STX6	CAMSAP3
SUMO2	H3F3A
TAF10	PRKRIR
TARDBP	PPCS
TARSL2	KIAA0141
TAZ	DULLARD
TAZ	HEATR5B
TBCC	MPP5
TBCC	PPCS
TCEAL3	SETD4
TCEAL5	CCDC93
TIMM23B	HIPK3
TIMM50	ARMC9
