ACER3	IQSEC1
ACTB	POTEE
ACTB	POTEJ
AP3S2	C15orf38-AP3S2
ARL17P1	ARL17B
ARL17B	ARL17P1
ARMC10	CHCHD7
ARMC9	TIMM50
ATP5E	ATP5EP2
ATP5EP2	ATP5E
BOLA2	BOLA2B
BOLA2B	BOLA2
C15orf38-AP3S2	AP3S2
C21orf33	CH507-9B2.3
CBWD3	CBWD5
CBWD3	CBWD7
CBWD5	CBWD3
CBWD5	CBWD7
CBWD7	CBWD3
CBWD7	CBWD5
CCNI2	8-Sep
CCZ1	CCZ1B
CCZ1B	CCZ1
CH507-9B2.3	C21orf33
CHCHD7	ARMC10
CKS2	DDX58
COMMD3	COMMD3-BMI1
COMMD3-BMI1	COMMD3
CSNK2A1	CSNK2A3
CSNK2A3	CSNK2A1
CXORF40A	CXorf40B
CXorf40B	CXORF40A
DDT	DDTL
DDTL	DDT
DDX58	CKS2
DGCR6	DGCR6L
DGCR6L	DGCR6
DNAJB11	PET100
DOK4	PI4KB
EIF3C	EIF3CL
EIF3CL	EIF3C
EIF5A	EIF5AL1
EIF5AL1	EIF5A
FAM21A	FAM21C
FAM21C	FAM21A
FKBP1A	FKBP1C
FKBP1C	FKBP1A
GOLGA6L10	GOLGA6L4
GOLGA6L10	GOLGA6L9
GOLGA6L4	GOLGA6L10
GOLGA6L4	GOLGA6L9
GOLGA6L9	GOLGA6L10
GOLGA6L9	GOLGA6L4
GOLGA8A	GOLGA8B
GOLGA8B	GOLGA8A
GPR89A	GPR89B
GPR89B	GPR89A
GSTM1	GSTM2
GSTM2	GSTM1
GTF2H2	GTF2H2C
GTF2H2C	GTF2H2
H3F3B	H3F3C
H3F3C	H3F3B
HIST2H4A	HIST2H4B
HIST2H4B	HIST2H4A
HNRNPA1	HNRNPA1L2
HNRNPA1L2	HNRNPA1
HSPE1-MOBKL3	MOBKL3
IQSEC1	ACER3
LRRC37A	LRRC37A2
LRRC37A2	LRRC37A
MAGEA1	MAGEA1B
MAGEA1B	MAGEA1
MAP1LC3B	MAP1LC3B2
MAP1LC3B2	MAP1LC3B
METTL2A	METTL2B
METTL2B	METTL2A
MOBKL3	HSPE1-MOBKL3
NOMO1	NOMO2
NOMO1	NOMO3
NOMO2	NOMO1
NOMO2	NOMO3
NOMO3	NOMO1
NOMO3	NOMO2
NPIPA1	NPIPA2
NPIPA1	NPIPA3
NPIPA1	NPIPA5
NPIPA2	NPIPA1
NPIPA2	NPIPA3
NPIPA2	NPIPA5
NPIPA3	NPIPA1
NPIPA3	NPIPA2
NPIPA3	NPIPA5
NPIPA5	NPIPA1
NPIPA5	NPIPA2
NPIPA5	NPIPA3
NPIPA7	NPIPA8
NPIPA8	NPIPA7
NPIPL3	NPIPB4
NPIPL3	NPIPB5
NPIPB4	NPIPL3
NPIPB4	NPIPB5
NPIPB5	NPIPL3
NPIPB5	NPIPB4
PABPC1	PABPC3
PABPC3	PABPC1
PET100	DNAJB11
PI4KB	DOK4
POLR2J	POLR2J2
POLR2J2	POLR2J
POLR2J2	POLR2J3
POLR2J3	POLR2J2
POTEE	ACTB
POTEE	POTEJ
POTEI	POTEJ
POTEJ	ACTB
POTEJ	POTEE
POTEJ	POTEI
RABL2A	RABL2B
RABL2B	RABL2A
RGPD5	RGPD6
RGPD5	RGPD8
RGPD6	RGPD5
RGPD6	RGPD8
RGPD8	RGPD5
RGPD8	RGPD6
SCMH1	SELM
SELM	SCMH1
8-Sep	CCNI2
SERF1A	SERF1B
SERF1B	SERF1A
SLX1A	SLX1A-SULT1A3
SLX1A	SLX1B
SLX1A-SULT1A3	SLX1A
SLX1A-SULT1A3	SLX1B
SLX1B	SLX1A
SLX1B	SLX1A-SULT1A3
SMN1	SMN2
SMN2	SMN1
SRGAP2B	SRGAP2C
SRGAP2C	SRGAP2B
TIMM50	ARMC9
